$font-stack: 'museo-sans', Helvetica, Arial, sans-serif;
$yellow: #ecb937;
$red: #a72535;
$redalpha: rgba(167,37,53,.85);
$teal: #8dc7bd;
$dark: #1b1b1b;

@mixin transition($attr) {
  -webkit-transition: $attr 250ms ease-out;
     -moz-transition: $attr 250ms ease-out;
      -ms-transition: $attr 250ms ease-out;
          transition: $attr 250ms ease-out;
}

/**** TABLE OF CONTENTS ****
0. PRELOADER STYLES

1. GENERAL STYLES

2. HEADER STYLES
  2a. Off Canvas Nav Styles
  2b. Social Media Styles
  2c. Top Bar and Main Nav Styles
  2d. Reverse Header Styles
  2e. Shrink Logo Styles

3. HOME PAGE STYLES

4. INTERNAL PAGE STYLES
  4a. Title Bar Styles
  4b. Team Member Styles

5. PORTFOLIO STYLES

6. FOOTER STYLES

** END TABLE OF CONTENTS **/

/**** 0. PRELOADER STYLES ****/
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #FFF;
}
div#preloader {
  opacity: 1;
  -webkit-transition: opacity 700ms ease-out 400ms;
  -moz-transition: opacity 700ms ease-out 400ms;
  -o-transition: opacity 700ms ease-out 400ms;
  transition: opacity 700ms ease-out 400ms;
}
div#preloader.loaded {
  opacity: 0;
}
div#preloader img.preloader-logo {
  width: 300px;
  height: 140px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -70px;
  margin-left: -150px;
}


/**** 1. GENERAL STYLES ****/
a {
  font-size: 95%;
  color: $red;
  font-weight: 700;
  font-family: 'museo-sans';
  text-transform: uppercase;
}
a:hover, a:focus {
  color: $dark;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  text-transform: uppercase;
  font-weight: 700;
  color: $red;
}
.bs-btn {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid $red;
  @include transition(all);
}
.bs-btn.bs-btn-white {
  background: #FFF;
  border: 2px solid #FFF;
}
.bs-btn:hover,
.bs-btn:focus {
  background: $red;
  border: 2px solid $red;
  color: #FFF;
}
html .margin-bottom-60 {
  margin-bottom: 60px !important;
}
html .margin-bottom-6per {
  margin-bottom: 6% !important;
}
.section-title {
  margin-top: -55px;
  img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .wpb_single_image {
    margin: 0 0 -125px 0;
    position: relative;
    z-index: 99
  }
  .vc_column-inner {
    padding: 0 !important;
  }
}
ul.social-media-wrapper.left {
  text-align: left;
}
ul.social-media-wrapper.right {
  text-align: right;
}
ul.social-media-wrapper.center {
  text-align: center;
}
ul.social-media-wrapper.brown li a {
  color: #38322f;
}
ul.social-media-wrapper.white li a {
  color: #FFF;
}


/**** 2. HEADER STYLES ****/
header#masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(18,18,18,.5);
  transition: all 500ms ease-out;
}
.title-bar-title {
  width: calc(100% - 40px);
  text-align: left;

  a.custom-logo-link img {
    width: auto;
    height: 80px !important;
  }
}

/* 2a. Off Canvas Nav Styles */
nav.off-canvas {
  height: 100vh;
  background: $dark;

  a.custom-logo-link {
    display: block;
  }
  a.custom-logo-link img {
    margin: 0 auto;
    display: block;
    padding: 1rem 2rem;
  }
  .menu > li > a {
    font: 500 28px/1 'acumin-pro-extra-condensed';
    color: #FFF;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .menu > li > a:after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: $yellow;
    @include transition(width);
  }
  .menu > li:hover > a:after,
  .menu > li:active > a:after,
  .menu > li:focus > a:after {
    width: 100%;
  }
  > ul.menu {
    height: auto;
  }
  ul.social-media-wrapper {
    margin: 0 17px;
    text-align: center;
  }
  ul.social-media-wrapper li {
    margin: 0 4px 10px;
  }
}

body.off-canvas-open[data-whatinput="touch"] {
  overflow-y: hidden;
}

body.off-canvas-open[data-whatinput="touch"] .off-canvas-wrapper {
  overflow-y: hidden !important;
  position: fixed;
}

/* 2b. Social Media Styles */
ul.social-media-wrapper {
  list-style: none;
  text-align: right;
  margin: 0 5px 0 0;
  li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    text-align: center;
    position: relative;
    z-index: 99;
  }
  li:after {
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 12px;
    opacity: 0;
    transform: scale(0);
    transition: all 250ms ease-out;
  }
  li.facebook:after {
    background: #3b5998;
  }
  li.twitter:after {
    background: #00aced;
  }
  li.linkedin:after {
    background: #007bb6;
  }
  li.instagram:after {
    background: #517fa4;
  }
  li.youtube:after {
    background: #bb0000;
  }
  li.pinterest:after {
    background: #cb2027;
  }
  li.vimeo:after {
    background: #aad450;
  }
  li.rss:after {
    background: #21759b;
  }
  li:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  li a {
    display: block;
    color: #FFF;
  }
  li:hover a {
    color: #FFF !important;
  }
}

/* 2c. Top Bar and Main Nav Styles */
.top-bar {
display: table;
width: 100%;
max-width: 100rem;
margin: 0 auto;
background: none;
  ul {
    background: none;
  }

  .top-bar-left {
  display: table-cell;
  float: none;
  width: 25%;
  vertical-align: middle;
    a.custom-logo-link {
      display: block;
      height: auto;
      background: none !important;
    }
    a.custom-logo-link img {
      width: 200px;
      height: auto;
      margin-right: 0 !important;
      transition: width 500ms ease-out;
    }
  }

    .top-bar-right {
    display: table-cell;
    float: none;
    width: 75%;
    text-align: right;
    vertical-align: bottom;

    .menu {
      text-align: right;
    }
    .menu > li {
      float: none;
      display: inline-block;
    }
    .menu > li > a {
      height: 82px;
      padding: 0 10px !important;
      font: 400 2rem/82px 'acumin-pro-extra-condensed';
      text-transform: uppercase;
      box-sizing: content-box !important;
      letter-spacing: .03rem;
    }
    .menu > li:not(:last-child) {
      border-right: 0;
    }
    .menu a:hover:not(.button) {
      background: none;
    }
    .menu .active > a {
      background: none;
      color: $yellow;
    }
    .menu > li {
      position: relative;
    }
    .menu > li:after {
      content: '';
      width: 0;
      height: 3px;
      background: $yellow;
      display: block;
      position: absolute;
      bottom: 16px;
      transition: width 250ms ease-out;
    }
    .menu > li:hover:after,
    .menu > li.active:after {
      width: 100%;
      transition: width 250ms ease-out;
    }
  }
}

@media only screen and (max-width: 64em) and (min-width: 50.0625em) {
  .top-bar .top-bar-right .menu > li > a {
    padding: 10px 7px 0 0 !important;
    font-size: 1.95em;
  }
}
@media only screen and (max-width: 50em) and (min-width: 45.0625em) {
  .top-bar .top-bar-right .menu > li > a {
    padding: 10px 7px 0 0 !important;
    font-size: 1.75em;
  }
}
@media only screen and (max-width: 45em) and (min-width: 40em) {
  .top-bar .top-bar-right .menu > li > a {
    padding: 10px 7px 0 0 !important;
    font-size: 1.5em;
  }
}

/* 2d. Reverse Header Styles */
header#masthead.reverse-header {
  background-color: rgba(255,255,255,.95);
  box-shadow: 0 0 18px 5px rgba(0,0,0,.2);

  .top-bar .menu a {
    color: $dark;
  }
  .top-bar .top-bar-left a.custom-logo-link {
    background: url(http://127.0.0.1/newuptown/wp-content/uploads/2016/05/logo-color.svg) no-repeat center center !important;
    background-size: 150px 69px !important;
  }
  .title-bar-title a.custom-logo-link {
    background: url(http://127.0.0.1/newuptown/wp-content/uploads/2016/05/logo-color.svg) no-repeat center center !important;
    background-size: 171px 80px !important;
    display: inline-block;
  }
  .menu-icon::after,
  .menu-icon:hover:after {
    background: #222;
    box-shadow: 0 7px 0 #222, 0 14px 0 #222;
  }
  img.custom-logo {
    opacity: 0;
  }
  .top-bar-social ul li a {
    color: #222;
  }
}

/* 2e. Shrink Logo Styles */
body.shrink-logo {
  .top-bar .top-bar-left a.custom-logo-link img {
    width: 150px;
    height: auto;
    transition: width 500ms ease-out;
  }
}


/**** 3. HOME PAGE STYLES ****/
.admin-bar header#masthead {
  top: 32px;
}
.home {
  div#page-full-width {
    margin-top: 0;
  }
  .meet-the-team-svg img {
    width: 100%;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
.what-we-do-wrapper {
  .vc_column-inner {
    padding-top: 50px;
  }
  .wpb_single_image img {
    width: 260px;
    height: auto;
    background-size: 1%;
    -webkit-transition: background-size 500ms ease-out;
    -moz-transition: background-size 500ms ease-out;
    -o-transition: background-size 500ms ease-out;
    transition: background-size 500ms ease-out;
  }
  .wpb_single_image.what-we-do-triangle img {
    margin-bottom: -40px !important;
  }
  .wpb_single_image.sunburst-hover img {
    padding: 40px;
    margin: -40px 0;
  }
  .what-we-do-inner {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .web-portal .wpb_single_image img:hover,
  .video-portal .wpb_single_image img:hover {
    background: url(http://159.203.243.127/wp-content/uploads/2016/04/sunburst-yellow.svg) no-repeat center center;
    background-size: 100%;
    -webkit-transition: background-size 500ms ease-out;
    -moz-transition: background-size 500ms ease-out;
    -o-transition: background-size 500ms ease-out;
    transition: background-size 500ms ease-out;
  }
  .graphic-portal .wpb_single_image img:hover,
  .print-portal .wpb_single_image img:hover {
    background: url(http://159.203.243.127/wp-content/uploads/2016/04/sunburst-red.svg) no-repeat center center;
    background-size: 100%;
    -webkit-transition: background-size 500ms ease-out;
    -moz-transition: background-size 500ms ease-out;
    -o-transition: background-size 500ms ease-out;
    transition: background-size 500ms ease-out;
  }
  .branding-portal .wpb_single_image img:hover,
  .sm-portal .wpb_single_image img:hover {
    background: url(http://159.203.243.127/wp-content/uploads/2016/04/sunburst-teal.svg) no-repeat center center;
    background-size: 100%;
    -webkit-transition: background-size 500ms ease-out;
    -moz-transition: background-size 500ms ease-out;
    -o-transition: background-size 500ms ease-out;
    transition: background-size 500ms ease-out;
  }
  .web-portal, .graphic-portal, .branding-portal, .sm-portal, .video-portal, .print-portal {
    margin-bottom: 40px;
    p {
      text-align: center;
      font: 700 1.5rem/1'museo-sans';
      text-transform: uppercase;
      margin-top: -10px;
    }
    a {
      color: #414141;
    }
  }
}

.hcd-wrapper {
  background: url(http://127.0.0.1/newuptown/wp-content/uploads/2016/05/sticky-notes-bg.svg) repeat-x -17px calc(100% + 35px);
  background-size: 550px;

  .hcd-hand-svg img {
    width: 150px;
    height: auto;
  }
  .hcd-banner-svg img {
    width: 520px;
    max-width: 100%;
    height: auto;
    margin: 60px 0 30px;
  }
  p {
    font: 400 25px/1.4 'museo-sans';
    max-width: 700px;
    text-align: center;
    margin: 0 auto 1rem !important;
    color: #222;
  }
  .vc_column_container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.events-circle {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  background: $redalpha;
  text-align: center;

  .events-circle-inner {
    padding: 40px 65px 100px;
  }
  img {
    margin-bottom: 34px;
  }
  p {
    font: 400 24px/1.4 'museo-sans';
    color: #FFF;
  }
}

.testimonials-wrapper {
  background: url(http://127.0.0.1/newuptown/wp-content/uploads/2016/05/dots-bg-repeat3.svg) repeat top left;
  background-size: 35px;
  background-attachment: fixed;

  > .vc_column_container > .vc_column-inner {
    max-width: 1200px;
    margin: 0 auto;
  }
  .what-i-love-svg img {
    width: 420px;
    max-width: 90%;
  }
  .single-rotating-content-carousel-item {
    p {
      color: #FFF;
      font: 400 20px/1.6 'museo-sans';
      text-align: center;
      padding: 0 40px;
    }
    p.rc-line2 {
      font-weight: 700 !important;
    }
  }
  .rotating-content-carousel-wrapper {
    .owl-controls {
      position: absolute !important;
      width: 100% !important;
      top: 50% !important;
      margin-top: -17px !important;
    }
    .owl-prev {
      float: left !important;
      margin-left: -10px !important;
    }
    .owl-next {
      float: right !important;
      margin-right: -10px !important;
    }
    .owl-theme .owl-controls .owl-buttons div {
      background: none !important;
      opacity: 1 !important;
    }
    .owl-prev button i, .owl-next button i {
      font-size: 20px !important;
      font-size: 1.25rem !important;
    }
  }
  .rotating-content-details {
    margin-top: 40px;
    position: relative;
  }
  .rotating-content-details p {
    margin: 0 0 5px 0;
    padding: 0 20px;
    font-size: 15px !important;
    font-size: .975rem !important;
  }
  .rotating-content-details:before {
    content: '';
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    background: #FFF;
    left: 50%;
    top: -19px;
    margin-left: -15px;
  }
  .testimonial_rotator_prev i,
  .testimonial_rotator_next i {
    color: #FFF;
    opacity: .5;
    @include transition(opacity);
  }
  .testimonial_rotator_prev i:hover,
  .testimonial_rotator_next i:hover,
  .testimonial_rotator_prev i:focus,
  .testimonial_rotator_next i:focus {
    opacity: 1;
  }
}

.waves-section {
  background-color: #a50031 !important;
  background-image: url('http://127.0.0.1/newuptown/wp-content/uploads/2016/05/waves-svg-bg3.svg') !important;
  background-repeat: repeat-x;
  background-position: -1px bottom;
  background-size: 44px;
  height: 24px;
}

.ig-wrapper {

  span.ig-caption {
    display: block;
    position: absolute;
    visibility: hidden;
    bottom: -20px;
    left: 0;
    opacity: 0;
    padding: 3px 6px;
    width: 100%;
    box-sizing: border-box;
    background: #437d91;
    background: rgba(67, 125, 145, 0.90);
    color: #FFF !important;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-size: .75rem;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
  }
  #instafeed a:hover span.ig-caption {
      visibility: visible;
      bottom: 0;
      opacity: 1;
  }
  a.instagram-image.slick-slide {
    position: relative;
    overflow: hidden;
  }
  a.instagram-image.slick-slide img {
    transform: scale(1.25);
    transition: all 3s ease-out;
  }
  a.instagram-image.slick-slide:hover img {
    transform: scale(1.5) rotate(2deg);
  }
  ul.slick-dots {
    list-style: none;
    margin: 15px 0 0 0;
    width: 100%;
    text-align: center;
  }
  ul.slick-dots li {
    display: inline-block;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: $red;
    text-indent: -9999px;
    cursor: pointer !important;
    transition: all 250ms ease-out;
  }
  ul.slick-dots li.slick-active {
    transform: scale(1.2);
    background: $dark;
  }
  div#instafeed {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
  }
  button.slick-prev.slick-arrow,
  button.slick-next.slick-arrow {
    position: absolute;
    width: 20px;
    height: 40px;
    left: 0;
    top: calc(50% - 15px);
    margin-top: -20px;
    font-size: 20px;
  }
  button.slick-next.slick-arrow {
    left: auto;
    right: 0;
  }
  .how-we-roll-svg img {
    width: 220px;
    height: auto;
  }
  .follow-us-wrapper {
    text-align: center;
  }

}

@media only screen and (max-width: 64em) {
  .title-bar {
    background: none !important;
  }
  .vc_parallax-inner {
    top: 0 !important;
    height: 100% !important;
  }
}
@media only screen and (max-width: 48.875em) {
  .admin-bar header#masthead {
    top: 46px;
  }
  body.shrink-logo .top-bar-social ul,
  .top-bar-social ul {
    margin: 5px 5px 0 0 !important;
  }
}
@media only screen and (max-width: 47.9375em) {
  .what-we-do-wrapper .what-we-do-triangle {
    top: -80px;
  }
  .what-we-do-inner {
    padding: 40px 0 20px;
    .entry-portal {
      width: 50%;
    }
  }
  .hcd-wrapper {
    background: url(http://127.0.0.1/newuptown/wp-content/uploads/2016/05/sticky-notes-bg.svg) repeat-x -17px calc(100% + 35px);
    background-size: 400px;
  }
  .hcd-right {
    margin-top: 40px !important;
  }
  .hcd-left *, .hcd-right * {
    text-align: center;
  }
}
@media only screen and (max-width: 39.9375em) {
  header#masthead {
    position: absolute !important;
    top: 0 !important;
  }
  .top-bar-social {
    display: none !important;
  }
  .ig-wrapper div#instafeed {
    padding: 0;
    margin-bottom: 50px;
  }
  .ig-wrapper button.slick-prev.slick-arrow,
  .ig-wrapper button.slick-next.slick-arrow {
    top: auto;
    bottom: -40px;
  }
  .ig-wrapper button.slick-prev.slick-arrow {
    left: 50%;
    margin-left: -40px;
  }
  .ig-wrapper button.slick-next.slick-arrow {
    right: 50%;
    margin-right: -40px;
  }
}
@media only screen and (max-width: 35em) {
  .events-circle {
    width: 100%;
    position: relative;
    left: 0;
    height: auto;
    border-radius: 20px;
    .events-circle-inner {
      padding: 40px;
    }
  }
}
@media only screen and (max-width: 30em) {
  .what-we-do-inner {
    .entry-portal {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 23.4375em) {
  .hcd-wrapper a.bs-btn.bs-btn-clear {
    margin-bottom: 60px !important;
  }
}


/**** 4. INTERNAL PAGE STYLES ****/
div#page-full-width {
  margin-top: 0;
  max-width: none;
}

/* 4a. Title Bar Styles */
header#featured-hero {
  display: table;
  width: 100%;
  height: 20rem;
  margin-bottom: 0;
  border-bottom: 1px solid #FFF;

    h1.entry-title {
      text-align: center;
      color: #FFF;
      font: 400 84px/1.1 'acumin-pro-extra-condensed';
      letter-spacing: .03rem;
      text-shadow: 1px 1px 2px #000;
      text-transform: uppercase;
      display: table-cell;
      vertical-align: bottom;
      padding: 50px 0 60px;
      position: relative;
    }
    h1.entry-title.dark {
      color: #222;
      text-shadow: 1px 1px 2px #FFF;
    }
    // h1.entry-title:before {
    //   content: '';
    //   width: 200px;
    //   height: 200px;
    //   display: block;
    //   background: url(http://127.0.0.1/newuptown/wp-content/uploads/2016/06/gray-sun-burst.svg);
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }
    h1.entry-title span {
      position: relative;
      padding: 0 100px;
    }
    h1.entry-title span:after {
      content: '';
      width: 100%;
      height: 5px;
      display: block;
      position: absolute;
      background: url(http://127.0.0.1/newuptown/wp-content/uploads/2016/06/dot-border-light2.svg);
      left: 0;
      bottom: 0;
    }
    h1.entry-title.dark span:after {
      background: url(http://127.0.0.1/newuptown/wp-content/uploads/2016/06/dot-border2.svg);
    }
}

/* 4b. Team Member Styles */
.single-tm-outer:nth-of-type(even) {
  background: #f1f1f1;
}
.single-tm-content {
  max-width: 800px;
  margin: 36px auto 0;
}
.single-tm-image {
  margin-bottom: 0 !important;
}


/**** 5. PORTFOLIO PAGE STYLES ****/
div#page-full-width.portfolio-wrapper {
    max-width: 100rem;
}
.portfolio-container {
  width: 100% !important;
  display: block;
  position: relative;
  overflow: hidden;
  transition: height .5s ease-out;
}
.single-item-link {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9999;
	text-indent: -99999px;
}
.single-portfolio-item {
	position: relative;
	font-family: 'museo-sans', Arial, Helvetica, sans-serif !important;
  width: 33.3333% !important;
  padding: 0 10px 20px;

  .portfolio-overlay {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	visibility: hidden;
  	z-index: 10;
    background: $red;
    background: $redalpha;
  	opacity: 0;
  	filter: alpha(opacity=0);
  	-webkit-transition: opacity .25s ease-out;
  	-moz-transition: opacity .25s ease-out;
  	-o-transition: opacity .25s ease-out;
  	-ms-transition: opacity .25s ease-out;
  	transition: opacity .25s ease-out;
  }
  article,
  section {
  overflow: hidden;
  margin-bottom: 0 !important;
  }
  img {
  	width: 100%;
  	height: auto;
    -webkit-transition: -webkit-transform 200ms ease-out;
    -moz-transition: -moz-transform 200ms ease-out;
    -o-transition: -o-transform 200ms ease-out;
    transition: transform 200ms ease-out;
  }
}
h4.portfolio-title {
	font-size: 40px;
	font-size: 2.5rem;
  font-family: 'acumin-pro-extra-condensed';
  text-transform: uppercase;
  letter-spacing: .03rem;
	color: #FFF;
	position: absolute;
	line-height: 1.1;
	top: -15px;
	left: 0;
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	font-weight: 400;
	visibility: hidden;
	z-index: 999;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .25s ease-out 150ms;
	-moz-transition: all .25s ease-out 150ms;
	-o-transition: all .25s ease-out 150ms;
	transition: all .25s ease-out 150ms;
}
.single-portfolio-item:hover {

  .portfolio-overlay {
  	visibility: visible;
  	opacity: 1;
  	filter: alpha(opacity=100);
  	-webkit-transition: opacity .25s ease-out;
  	-moz-transition: opacity .25s ease-out;
  	-o-transition: opacity .25s ease-out;
  	transition: opacity .25s ease-out;
  }
  h4.portfolio-title {
  	visibility: visible;
  	top: 10px;
  	left: 0;
    padding: 5px;
    margin: 0;
  	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-o-transform: scale(1);
  	transform: scale(1);
  	opacity: 1;
  	filter: alpha(opacity=100);
  }
  img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
}
body.single-portfolio-item:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.portfolio-category {
  display: table;
  padding: 0 !important;
	line-height: 20px;
	line-height: 1.25rem;
	height: auto;
	margin: 0;
	list-style: none;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	opacity: 0;
	position: absolute;
	bottom: 25px;
	right: 0;
	width: 100%;
	font-weight: 400;
	text-align: center;
	z-index: 999;
	color: #FFF !important;
	-webkit-transition: all .25s ease-out 150ms;
	-moz-transition: all .25s ease-out 150ms;
	-o-transition: all .25s ease-out 150ms;
	transition: all .25s ease-out 150ms;

  li {
    width: auto;
    height: auto;
    text-align: center;
    padding: 0 10px 8px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  li:before {
    content: '';
  }
}
span.cat-link {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 80px;
  color: #FFF !important;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  text-align: center;
  opacity: .85;
  filter: alpha(opacity=85);
  visibility: hidden;
  display: block;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 150ms ease-out 315ms;
  -moz-transition: all 150ms ease-out 315ms;
  -o-transition: all 150ms ease-out 315ms;
  transition: all 150ms ease-out 315ms;

  img {
    width: 100% !important;
    max-width: 200px !important;
    height: auto;
  }
}
.single-portfolio-item:hover span.cat-link {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 150ms ease-out 315ms;
  -moz-transition: all 150ms ease-out 315ms;
  -o-transition: all 150ms ease-out 315ms;
  transition: all 150ms ease-out 315ms;
}
.single-portfolio-item .portfolio-category li {
	color: #FFF !important;
}
.single-portfolio-item:hover .portfolio-category {
	right: 0;
	bottom: -6px;
  padding: 5px;
	opacity: 1;
}
.single-portfolio-link section.entry-content {
  position: relative;
}
p.view-more-portfolios {
	display: inline-block;
  padding: 5px 0 15px 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
.portfolio-page-thumbs-wrapper {
  padding: 0;
}
ul.filter-portfolio-category {
  margin: 40px 0 20px;
  list-style: none;
  clear: both;
  text-align: center;
}
ul.filter-portfolio-category li {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #CCC;
  position: relative;
}
ul.filter-portfolio-category li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}
ul.filter-portfolio-category li.filter-label {
  margin-right: 5px;
  padding-right: 0;
  border-right: 0;
}
ul.filter-portfolio-category li:hover span.term-num {
  visibility: visible;
  opacity: 1;
  top: -35px;
  -webkit-transition: all 150ms ease-out 200ms;
  -moz-transition: all 150ms ease-out 200ms;
  -o-transition: all 150ms ease-out 200ms;
  transition: all 150ms ease-out 200ms;
}
span.term-num {
  color: #FFF !important;
  position: absolute;
  top: -45px;
  width: 30px;
  height: 22px;
  background: $red;
  text-align: center;
  left: 50%;
  margin-left: -20px;
  line-height: 25px;
  border-radius: 3px;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 150ms ease-out 200ms;
  -moz-transition: all 150ms ease-out 200ms;
  -o-transition: all 150ms ease-out 200ms;
  transition: all 150ms ease-out 200ms;
}
span.term-num:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-top-color: $red;
  border-width: 8px;
  margin-left: -8px;
}
ul.filter-portfolio-category li a {
  position: relative;
  padding-bottom: 3px;
}
ul.filter-portfolio-category li a:before {
  position: absolute;
  content: '';
  width: 0;
  bottom: 0;
  height: 3px;
  left: 0;
  background: $red;
  -webkit-transition: width 150ms ease-out;
  -moz-transition: width 150ms ease-out;
  -o-transition: width 150ms ease-out;
  transition: width 150ms ease-out;
}
ul.filter-portfolio-category li a:after {
  position: absolute;
  content: '';
  width: 0;
  bottom: 0;
  height: 3px;
  right: 0;
  background: $red;
  -webkit-transition: width 150ms ease-out;
  -moz-transition: width 150ms ease-out;
  -o-transition: width 150ms ease-out;
  transition: width 150ms ease-out;
}
ul.filter-portfolio-category li:hover a {
  color: $red !important;
}
ul.filter-portfolio-category li:hover a:before, ul.filter-portfolio-category li:hover a::after {
  width: 50%;
  -webkit-transition: width 150ms ease-out;
  -moz-transition: width 150ms ease-out;
  -o-transition: width 150ms ease-out;
  transition: width 150ms ease-out;
}
.portfolio-filter-toggle {
	display: none;
}
@media only screen and (max-width: 64em) {
	.single-portfolio-item {
  	width: 33.3333% !important;
  	height: auto !important;
	}
}
@media only screen and (min-width: 50.0625em) {
	.not-home.single-portfolio .content_container, .not-home.shrink-nav.single-portfolio .content_container {
		margin-top: 0 !important;
	}
}
@media only screen and (max-width: 50em) {
	.single-portfolio-item {
  	width: 33.3333% !important;
  	height: auto !important;
	}
}
@media only screen and (max-width: 47.9375em) {
	span.cat-link {
		width: 50px;
		height: 50px;
		margin-top: -25px;
		margin-left: -25px;
	}
  .portfolio-filter-toggle {
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .portfolio-filter-toggle a {
    padding-left: 20px;
    position: relative;
  }
  .portfolio-filter-toggle a:before {
    content: '\f0c9';
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    font-family: FontAwesome !important;
    font-size: 16px;
  }
  .portfolio-filter-toggle a.open:before {
    content: '\f00d';
  }
  ul.filter-portfolio-category li {
    border-right: 0;
    margin-right: 0;
    padding-right: 24px;
  }
  ul#filters {
    display: none;
  }
  ul#filters.show {
    display: block;
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  ul#filters li.filter-label {
    display: none;
  }
  header#featured-hero h1.entry-title span {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 37.5em) {
	.single-portfolio-item {
  	width: 50% !important;
  	height: auto !important;
	}
}
@media only screen and (max-width: 30em) {
	.single-portfolio-item {
  	width: 50% !important;
  	height: auto !important;
	}
  span.cat-link {
		display: none;
	}
}


/**** 6. FOOTER STYLES ****/
#footer {
  .menu > li {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
  }
  .menu > li a {
    margin: 0 !important;
    padding: 0 0 10px 0 !important;
  }
  .menu .active > a {
    color: #a72535;
    background: none;
    font-weight: 900 !important;
  }
  .footer-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px 0 20px;
  }
  .large-3.widget {
    width: 20%;
  }
  .large-3.widget:first-of-type {
    width: 40%;
  }
  .large-3.widget p,
  .large-3.widget li,
  .large-3.widget a,
  .large-3.widget span {
    font: 700 .9375rem/1.4 'museo-sans';
    padding: 0;
  }
  .widget h6 {
    font-weight: 900;
    font-size: 1em;
  }
  ul.social-media-wrapper li a {
    line-height: 24px !important;
  }
}
@media only screen and (max-width: 47.9375em) {
  #footer .large-3.widget {
    width: 33.3333%;
  }
  #footer .large-3.widget:first-of-type {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 30em) {
  #footer .large-3.widget,
  #footer .large-3.widget:first-of-type {
    width: 100%;
    margin-bottom: 40px;
  }
}
