$roboto: 'roboto', Helvetica, Arial, sans-serif;
$robotocon: 'roboto-condensed', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial;
$raleway: 'Raleway', Helvetica, Arial, sans-serif;
$teal: #00FFFF;
$white: #FFFFFF;
$black: #000000;
$blackalpha: rgba(0,0,0,.8);
$ltgray: #e6e6e6;

$break1600: "only screen and (max-width: 100em)";
$break1200: "only screen and (max-width: 75em)";
$break1024: "only screen and (max-width: 64em)";
$break951: "only screen and (max-width: 59.4375em)";
$break951to601: "only screen and (max-width: 59.4375em) and (min-width: 37.5625em)";
$break800: "only screen and (max-width: 50em)";
$break767: "only screen and (max-width: 47.9375em)";
$break640: "only screen and (max-width: 40em)";
$break639: "only screen and (max-width: 39.9375em)";
$break600: "only screen and (max-width: 37.5em)";
$break480: "only screen and (max-width: 30em)";
$break375: "only screen and (max-width: 23.4375em)";

@mixin transition($attr) {
  -webkit-transition: $attr .2s ease-out;
     -moz-transition: $attr .2s ease-out;
      -ms-transition: $attr .2s ease-out;
          transition: $attr .2s ease-out;
}

/**** TABLE OF CONTENTS ****

1. GENERAL STYLES

2. HEADER STYLES
  2a. Top Bar and Main Nav Styles
  2b. Reverse Header Styles
  2c. Shrink Logo Styles

3. HOME PAGE STYLES

4. INTERNAL PAGE STYLES
  4a. Title Bar Styles
  4b. Gravity Forms Styles
  4c. Social Sharing Styles

5. PORTFOLIO STYLES

6. FOOTER STYLES

7. MOBILE STYLES (when WP detects a mobile device a class of 'mobile' is added to the body tag and we use this to style accordingly)

8. IE ONLY STYLES

00. No JavaScript Styles

** END TABLE OF CONTENTS **/


/**** 1. GENERAL STYLES ****/
a {
  color: $black;
  font-weight: 700;
  font-family: $roboto;
}
a:hover, a:focus {
  color: $black;
}
p {
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  text-transform: uppercase;
  font-weight: 700;
  color: $black;
  line-height: 1.1;
}
h2, h3 {
  color: $black;
}
h3, h4 {
  text-transform: capitalize;
}
h2 span.sub-title {
  display: block;
  font-size: 65%;
  margin: 10px 0;
}
.subtle-image-border img,
img.subtle-image-border {
  border: 1px solid $ltgray !important;
}
.hide-for-now {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  speak: none;
  left: -9999px;
}
.the-tags {
  display: inline-block;
  width: 100%;
  margin: 40px 0;
  text-align: left;

  a {
    display: inline-block;
    margin-bottom: 5px;
  }

}
body.modal-active {
  overflow: hidden;
}
.bs-btn {
  font-size: 1.125rem;
  font-weight: 700 !important;
  line-height: 1;
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid $black;
  background: $white;
  text-transform: uppercase;
  @include transition(all);
}
.bs-btn.bs-btn-white {
  background: $white;
  border: 2px solid $white;
}
.bs-btn.bs-btn-white:hover,
.bs-btn.bs-btn-white:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-clear {
  background: $white;
  border: 2px solid $black;
}
.bs-btn.bs-btn-clear:hover,
.bs-btn.bs-btn-clear:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-black {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-black:hover,
.bs-btn.bs-btn-black:focus {
  background: $white;
  border: 2px solid $black;
  color: $black;
}
.bs-btn:hover,
.bs-btn:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btns-wrapper {
    text-align: left;
    width: 100%;

    .bs-btn {
      display: inline-block;
      margin: 0 10px 10px 0 ;
    }

}
.bs-isotope-wrapper {
  max-width: 1600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.bs-isotope-item {

  img.lazyload,
  img.lazyloading {
    opacity: 0;
    min-height: 100px;
    @include transition(opacity);
  }
  img.lazyloaded {
    opacity: 1;
    @include transition(opacity);
  }

}
html .margin-bottom-60 {
  margin-bottom: 60px !important;
}
html .margin-bottom-6per {
  margin-bottom: 6% !important;
}
.max-width-eleven-seventy {
  max-width: 1170px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-sixteen-hundred {
  max-width: 1600px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.entry-content {
  overflow: hidden;

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
  h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: 1rem;
  }
  ul.row {
    margin-left: 1.25rem;
  }
  ul.row li.columns {
    padding-left: 0;
  }
  ul.row .column:last-child:not(:first-child),
  ul.row .columns:last-child:not(:first-child),
  ol.row .column:last-child:not(:first-child),
  ol.row .columns:last-child:not(:first-child) {
    float: left;
  }

}
.section-title {
  margin-top: -55px;
  img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .wpb_single_image {
    margin: 0 0 -125px 0;
    position: relative;
    z-index: 99
  }
  .vc_column-inner {
    padding: 0 !important;
  }
}
ul.social-media-wrapper.left {
  text-align: left;
}
ul.social-media-wrapper.right {
  text-align: right;
}
ul.social-media-wrapper.center {
  text-align: center;
}
ul.social-media-wrapper.brown li a {
  color: #38322f;
}
ul.social-media-wrapper.white li a {
  color: $white;
}
ul.social-media-wrapper li a {
  line-height: 30px !important;
}
.readable-line-length {
  max-width: 800px;
  margin: 0 auto;
}
.text-align-center, .text-align-center * {
  text-align: center;
}
.readable-line-length.text-align-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
}
.cta-text.has-background-image {
  background: rgba(27,27,27,.65);
  padding: 20px;
}
.cta-text.has-background-image p {
  font-size: 1.5rem;
  color: $white;
}
.cta-text p {
  font-size: 1.5rem;
  color: $black;
}
.cta-text * {
  $blackily: 'museo-sans';
  line-height: 1.4;
}
#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100;
}
#back-top a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: $blackalpha;
  color: $white;
  display: inline-block;
  @include transition(background);
}
#back-top a:hover,
#back-top a:focus {
  background: $black;
}
.fourohfour-recent-posts ul {
  margin: 0;
  list-style: none;
}
.fourohfour-recent-posts ul li {
  line-height: 1.2;
  margin-bottom: 1rem;
}
@media #{$break767} {
  .bs-isotope-item {
    width: 50%;
    height: auto;
  }
}
@media #{$break600} {
  .bs-isotope-item {
  	width: 100% !important;
  	height: auto !important;
	}
  .bs-btns-wrapper .bs-btn {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
  }
}


/**** 2. HEADER STYLES ****/
header#masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(18,18,18,0);
  transition: all 500ms ease-out;
}
.title-bar-title {
  width: calc(100% - 40px);
  text-align: left;

  a.custom-logo-link img {
    width: auto;
    height: 80px !important;
  }
}

/* 2a. Top Bar and Main Nav Styles */
.top-bar {
display: table;
width: 100%;
max-width: 100rem;
margin: 0 auto;
background: none;
  ul {
    background: none;
  }

  .top-bar-left {
    display: table-cell;
    float: none;
    width: 25%;
    vertical-align: middle;
  }
  .top-bar-middle {
    display: table-cell;
    float: none;
    width: 50%;
    vertical-align: middle;
    text-align: center;

      li.home {
        width: 100%;
        text-align: center;
        display: block;
      }
      a.custom-logo-link {
        display: block;
        height: auto;
        background: none !important;
      }
      a.custom-logo-link img {
        width: 200px;
        height: auto;
        margin-right: 0 !important;
        transition: width 500ms ease-out;
        opacity: 0;
        @include transition(opacity);
      }

    }

  .top-bar-left {

    ul.project-filters {
      margin: 0;
      list-style: none;

      .projects {
        float: none;
        display: inline-block;
        list-style: none;
        height: 82px !important;
      }
      .projects a {
        position: relative;
        display: block;
        height: 82px !important;
        padding: 0 10px 0 30px !important;
        font: 700 1.5rem/82px $robotocon;
        text-transform: uppercase;
        box-sizing: content-box !important;
        color: $white;
      }
      .projects a:before {
        content: '+';
        position: absolute;
        top: 0;
        left: 10px;
        text-align: left;
        display: block;
        width: 20px;
        height: 77px;
        line-height: 77px;
        color: $white;
        font-size: 30px;
      }
      .projects a:after {
        content: '';
        width: 0;
        height: 3px;
        background: #FFF;
        position: absolute;
        left: 30px;
        bottom: 20px !important;
        top: auto;
        @include transition(all);
      }
      .projects a:hover:after {
        width: calc(100% - 40px);
      }

    }

  }
  .top-bar-right {
    display: table-cell;
    float: none;
    width: 25%;
    text-align: right;
    vertical-align: bottom;

    .menu {
      text-align: right;
    }
    .menu > li {
      float: none;
      display: inline-block;
    }
    .menu > li > a {
      height: 82px;
      padding: 0 10px !important;
      font: 700 1.5rem/82px $robotocon;
      text-transform: uppercase;
      box-sizing: content-box !important;
    }
    .menu > li.menu-item-has-children > a {
      position: relative;
      padding-left: 20px !important;
    }
    .menu > li.menu-item-has-children > a:before {
      content: '+';
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      display: block;
      width: 20px;
      height: 77px;
      line-height: 77px;
      color: $white;
      font-size: 30px;
    }
    .menu .dropdown {
      display: block;
      visibility: hidden;
      opacity: 0;
      margin-top: 20px;
      z-index: -1;
      @include transition(all);
    }
    .menu > li.is-active .dropdown {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
      z-index: 1;
    }
    .menu > li.opens-left > .is-dropdown-submenu {
      left: auto;
      right: 10px;
      top: 100%;
      margin-top: -16px;
    }
    .menu > li.is-dropdown-submenu-parent > a::after {
      display: none;
    }
    .menu > li:not(:last-child) {
      border-right: 0;
    }
    .menu a:hover:not(.button) {
      background: none;
    }
    .menu .active > a {
      background: none;
      color: $white;
    }
    .menu > li {
      position: relative;
    }
    .menu > li:after {
      content: '';
      width: 0;
      height: 3px;
      background: $white;
      display: block;
      position: absolute;
      left: 20px;
      bottom: 20px;
      transition: width 250ms ease-out;
    }
    .menu > li:hover:after,
    .menu > li.active:after {
      width: calc(100% - 30px);
      transition: width 250ms ease-out;
    }
    .menu .dropdown {
      min-width: 230px;
      background-color: rgba(18, 18, 18, 0);
    }
    .menu .dropdown li a {
      height: auto;
      line-height: 1;
      padding: 10px 0 !important;
      font-size: 1.25rem;
      font-weight: 400;
      position: relative;
      display: inline-block;
    }
    .menu .dropdown li {
      -webkit-transition: background 250ms ease-out;
    }
    // .menu .dropdown li:hover,
    // .menu .dropdown li:focus {
    //   background: #1b1b1b;
    // }
    .menu .dropdown li:hover a,
    .menu .dropdown li:focus a {
      color: $white !important;
    }
    .menu .dropdown li a:hover:after {
      content: '';
    }
    .menu .dropdown li:after {
      display: none;
    }
    .menu .dropdown li a:after {
      content: '';
      width: 0;
      height: 2px;
      background: #FFF;
      position: absolute;
      right: 0;
      bottom: 5px !important;
      top: auto;
      @include transition(all);
    }
    .menu .dropdown li a:hover:after,
    .menu .dropdown li a:focus:after {
      width: 100%;
    }
    // .menu .dropdown li a.active:after {
    //   width: 100%;
    // }
  }
}

@media #{$break1024} and (min-width: 50.0625em) {
  .top-bar .top-bar-right .menu > li > a {
    padding: 10px 3.5px 0 3.5px !important;
    font-size: 1.95em;
  }
  .top-bar .top-bar-right .menu > li.menu-item-has-children > a:before {
    height: 82px;
    line-height: 97px;
  }
}
@media only screen and (max-width: 50em) and (min-width: 45.0625em) {
  .top-bar .top-bar-right .menu > li > a {
    padding: 10px 3.5px 0 3.5px !important;
    font-size: 1.75em;
  }
}
@media only screen and (max-width: 45em) and (min-width: 40em) {
  .top-bar .top-bar-right .menu > li > a {
    padding: 10px 7px 0 0 !important;
    font-size: 1.5em;
  }
}
@media #{$break800} {
  .top-bar .top-bar-right .menu > li.menu-item-has-children > a:before {
    line-height: 97px;
  }
}
@media #{$break639} {
  .off-canvas-wrapper-inner {
    will-change: transform;
  }
}

/* 2b. Reverse Header Styles and Filters Open Styles*/
body.filters-open {
  overflow: hidden;

  .top-bar .top-bar-left ul.project-filters .projects a:after {
    width: calc(100% - 40px);
    background: $black;
  }
}
header#masthead.reverse-header .top-bar .top-bar-left ul.project-filters .projects a:after {
  background: $black !important;
}
header#masthead.reverse-header,
body.filters-open {
  background-color: rgba(255,255,255,.95);

  a.custom-logo-link img {
    opacity: 1;
  }
  .top-bar .menu a,
  .top-bar .top-bar-left ul.project-filters .projects a {
    color: $black !important;
  }
  .menu > li.menu-item-has-children > a:before,
  .top-bar .top-bar-left ul.project-filters .projects a:before {
    color: $black !important;
  }
  .top-bar .top-bar-right .menu .dropdown li a:hover,
  .top-bar .top-bar-right .menu .dropdown li a:focus {
    color: $black !important;
  }
  .top-bar .top-bar-right .menu > li:after,
  .top-bar .top-bar-right .menu .dropdown li a:after {
    background: $black !important;
  }
  .menu-icon::after,
  .menu-icon:hover:after {
    background: #222;
    box-shadow: 0 7px 0 #222, 0 14px 0 #222;
  }
  .top-bar-social ul li a {
    color: #222;
  }
  // .top-bar .top-bar-right .menu .dropdown {
  //   background-color: rgba(255, 255, 255, 0.95);
  //   box-shadow: 0 9px 10px 4px rgba(0, 0, 0, 0.2);
  // }
}

/* 2c. Shrink Logo Styles */
body.shrink-logo {
  .top-bar .top-bar-left a.custom-logo-link img {
    width: 150px;
    height: auto;
    transition: width 500ms ease-out;
  }
}


/**** 3. HOME PAGE STYLES ****/
.admin-bar header#masthead {
  top: 32px;
}
.home {

  div#page-full-width {
    margin-top: 0;

    .main-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

  }

}
body:not(.mobile) .home-hero-wrapper {
  background-position: bottom center !important;
}
body.mobile .home-hero-wrapper {
  background-size: 110% !important;
}
.home-logo img {
  width: 600px;
  max-width: 100%;
  height: auto;
}

@media #{$break1024} {
  .title-bar {
    background: none !important;
  }
  .vc_parallax-inner {
    top: 0 !important;
    height: 100% !important;
  }
}
@media only screen and (max-width: 48.875em) {
  .admin-bar header#masthead {
    top: 46px;
  }
}
@media #{$break640} {
  header#masthead {
    position: absolute !important;
    top: 0 !important;
  }
}


/**** 4. INTERNAL PAGE STYLES ****/
#swipebox-slider .slide img {
  background: $white;
}
div#page-full-width {
  margin-top: 0;
  max-width: none;

  .main-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* 4a. Title Bar Styles */
header#featured-hero {
  display: table;
  width: 100%;
  height: 20rem;
  margin-bottom: 0;
  border-bottom: 1px solid $white;

    h1.entry-title {
      text-align: center;
      color: $white;
      // font: 400 84px/1 'acumin-pro-extra-condensed';
      font: 700 54px/1.2 'museo-sans';
      text-shadow: 1px 1px 2px #000;
      // text-transform: uppercase;
      text-transform: capitalize;
      display: table-cell;
      vertical-align: bottom;
      padding: 165px 1rem 60px;
      position: relative;
    }
    h1.entry-title.dark {
      color: #222;
      text-shadow: 1px 1px 2px $white;
    }
    h1.entry-title span.entry-title-inner {
      position: relative;
      max-width: 1600px;
      padding: 0 90px;
      display: inline-block;
    }
}


/* 4d. Contact Us Page and Gravity Forms Styles */
body .entry-content .gform_wrapper label.gfield_label+div.ginput_container {
  margin-top: 0 !important;
}
.entry-content {

  .gform_wrapper {
    margin: 0 auto !important;
    max-width: 100% !important;
    overflow: hidden;
  }
  .gform_body {
    padding: 0;
    border: 4px solid $white;
    border-bottom: 0;
    box-sizing: border-box;
  }
  .gform_wrapper .gform_heading {
    margin: 0 !important;
    width: calc(100% - 30px);
    min-height: 30px;
  }
  .gform_wrapper .gform_heading h3.gform_title {
    margin: 0;
    line-height: 1.9rem;
    font-size: 1.75rem !important;
  }
  .gform_wrapper .hidden_label input.large,
  .gform_wrapper .hidden_label select.large,
  .gform_wrapper .top_label input.large,
  .gform_wrapper .top_label select.large {
    width: 100% !important;
    height: 56px;
    line-height: 50px;
    border: 0;
    background: #E6E6E6;
    background: rgba(230,230,230,.8);
    box-shadow: none;
    margin: 0;
    padding: 0 10px !important;
  }
  .gform_wrapper textarea {
    width: 100% !important;
    border: 0;
    background: #E6E6E6;
    background: rgba(230,230,230,.8);
    box-shadow: none;
    margin: 0;
  }
  .gform_wrapper form li.gfield, .gform_wrapper li.gfield {
    padding: 6px 10px;
    border-top: 0 !important;
    border-bottom: 4px solid $white;
    margin: 0;
  }
  li.gfield {
    position: relative;
    padding-right: 10px !important;
  }
  .gform_wrapper li.gfield.field_description_below+li.gsection {
    margin-top: 0 !important;
  }
  li.gsection {
    background: $white;
  }
  li.gsection h2 {
    color: #000;
  }
  label.gfield_label {
    line-height: 1.2 !important;
    position: absolute;
    margin: 0 !important;
    left: 18px;
    top: 8px;
    text-transform: capitalize;
    font-family: $robotocon;
    will-change: transition;
    @include transition(all);
  }
  label[data-attr="active"].gfield_label {
    bottom: 69%;
    font-size: 75%;
    opacity: .65;
  }
  textarea {
    padding: 15px 10px !important;
  }
  .bs-textarea textarea {
    padding: 15px 10px !important;
  }
  .bs-textarea label {
    bottom: 40px !important;
  }
  li.bs-textarea .ginput_container_textarea:after {
    content: '';
    background: url(https://uptownstudios.net/wp-content/uploads/2016/05/dots-bg-repeat3.svg);
    background-size: 16px;
    width: 100%;
    height: 28px;
    display: block;
  }
  .gform_wrapper .ginput_container.ginput_container_radio {
    padding: 1px 8px 1px;
    background: #E6E6E6;
    background: rgba(230,230,230,.8);

    ul.gfield_radio  {
      width: 100% !important;
      margin: 8px 0 8px 0;
    }
    ul.gfield_radio li {
      margin: 0 0 5px 0 !important;
    }
    ul.gfield_radio li input[type="radio"] {
      margin: 0;
    }
    ul.gfield_radio li label {
      line-height: 1.1 !important;
    }
  }
  .gform_wrapper .ginput_container.ginput_container_checkbox {
    padding: 1px 8px 1px;
    background: #E6E6E6;
    background: rgba(230,230,230,.8);

    ul.gfield_checkbox  {
      width: 100% !important;
      margin: 8px 0 8px 0;
    }
    ul.gfield_checkbox li {
      margin: 0 0 5px 0 !important;
    }
    ul.gfield_checkbox li input[type="checkbox"] {
      margin: 0;
    }
  }
  .gform_wrapper .gfield_checkbox li label,
  .gform_wrapper .gfield_radio li label {
    line-height: 1.2 !important;
  }
  .nofloatLabel label.gfield_label {
    position: relative;
    left: 0 !important;
    top: auto;
    display: block;
    padding: 4px 8px 0;
    background: #E6E6E6;
    background: rgba(230,230,230,.8);
  }
  .validation_error {
    font-weight: 500 !important;
    font-size: 1.2rem !important;
    line-height: 1.4 !important;
    font-family: $robotocon !important;
    width: 100% !important;
    text-align: center;
  }
  .validation_error + .gform_body ul li label {
    font-size: 85%;
  }
  .validation_error + .gform_body ul li.gfield_error label {
    top: 9px;
    left: 18px;
    font-size: 85%;
  }
  .gform_wrapper .gfield_description.validation_message {
    padding-top: 0;
    color: #FF0000;
  }
  .gform_wrapper .gfield_error {
    width: 100% !important;
  }
  li.gfield_error .ginput_container {
    margin-top: 30px !important;
  }
  .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin: 0 !important;
  }
  .gforms_confirmation_message {
    width: calc(100% - 30px);
  }
  .gform_wrapper .gform_footer {
    text-align: right;
  }
  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_footer input[type=submit],
  .gform_wrapper .gform_page_footer input.button,
  .gform_wrapper .gform_page_footer input[type=submit] {
    margin: 0;
  }
  .gform_footer input.gform_button {
    background: $black;
    font-family: $roboto;
    text-transform: uppercase;
    font-weight: 700;
    @include transition(background);
  }
  .gform_footer input.gform_button:hover,
  .gform_footer input.gform_button:focus {
    background: $black;
  }
  .gform_confirmation_wrapper {
    margin: 0 auto;
    text-align: center;
  }
  .gform_confirmation_message {
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    line-height: 1.3 !important;
    font-family: $roboto !important;
  }

}
.home .entry-content .gform_wrapper {
  margin: 0 auto !important;
  max-width: 800px !important;
}

/* 4f. Blog Page Styles and Archive Styles */
.page-template-page-blog,
.archive,
.tag {

  article.main-content {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
  article.main-content > .entry-content {
    margin-top: 50px;
    margin-left: -30px;
  }
  article.post,
  article.portfolio {

    p.author-date {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    p.author-byline {
      display: table;
      width: 100%;
      margin-bottom: 10px;
    }
    p.author-byline span.avatar {
      display: table-cell;
      width: 60px;
      vertical-align: middle;
    }
    p.author-byline span.avatar img {
      width: 44px;
      height: auto;
      margin-right: 10px;
      border-radius: 100%;
    }
    h3.alt-avatar-title {
      margin-top: 15px;
    }
    span.avatar.alt-avatar {
      width: 50px;
      height: 50px;
      display: block;
      border-radius: 50px;
      position: relative;
      margin-top: -25px;
      margin-bottom: -25px;
      left: 50%;
      margin-left: -25px;
    }
    span.avatar.alt-avatar img {
      width: 100%;
      height: auto;
      border-radius: 100%;
      border: 3px solid #f1f1f1;
      box-shadow: 0 -2px 4px rgba(0,0,0,.5)
    }
    p.author-byline span.byline {
      display: table-cell;
      vertical-align: middle;
    }
    .entry-content {
      display: inline-block;
      border: 1px solid #f1f1f1;
    }
    .blog-page-title-excerpt {
      width: 100%;
      font-family: $roboto;
      padding: 15px;
      background: #f1f1f1;
    }
    .blog-page-featured-image {
      width: 100%;
      overflow: hidden;

        figure {
          margin: 0;
        }
        figure img {
          width: 100%;
          height: auto;
          transform: scale(1) rotate(0deg);
          @include transition(all);
        }

    }

  }
  article.portfolio {

    p.author-date {
      display: none;
    }

  }
  article.post:hover,
  article.post:focus,
  article.portfolio:hover,
  article.portfolio:focus {

    .blog-page-featured-image figure img {
      transform: scale(1.1) rotate(2deg);
    }

  }
  article.post:last-of-type,
  article.portfolio:last-of-type {
    border-bottom: 0;
  }
  nav.prev-next-posts {
    margin: 10px auto 0;
    padding: 20px 5px;
    border-top: 1px solid #a72535;
    width: 100%;
    width: calc(100% - 50px);
    max-width: 1570px;
    clear: both;
    display: table;

    div.prev-posts-link {
      width: 50%;
      display: table-cell;
    }
    div.next-posts-link {
      width: 50%;
      display: table-cell;
      text-align: right;
    }

  }
  .blog-page-title-excerpt h3, .blog-page-title-excerpt h3 a {
    font-size: 1.5rem;
  }

}
@media #{$break951to601} {
  .page-template-page-blog article.post {
    p.author-byline span.avatar {
      display: table-cell;
      width: 50px;
      vertical-align: middle;
    }
    p.author-byline span.avatar img {
      width: 34px;
    }
    h3.alt-avatar-title {
      margin-top: 12px;
    }
    span.avatar.alt-avatar {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      margin-top: -20px;
      margin-bottom: -20px;
      margin-left: -20px;
    }
  }
}
@media #{$break767} {
  .page-template-page-blog article.post .blog-page-title-excerpt,
  .page-template-page-blog article.post .blog-page-featured-image,
  .page-template-page-blog article.portfolio .blog-page-title-excerpt,
  .page-template-page-blog article.portfolio .blog-page-featured-image {
    width: 100%;
    float: none;
  }
  .page-template-page-blog article.post .blog-page-featured-image img,
  .page-template-page-blog article.portfolio .blog-page-featured-image img {
    width: 100%;
    height: auto;
  }
}

/* 4g. Single Blog Post Styles */
header#featured-hero.single-featured-hero {

  h1.entry-title {
    padding: 140px 0 30px;

    p.entry-meta {
      font-size: 20px;
      font-family: $roboto;
      letter-spacing: 0;
      margin-top: 24px;
      margin-bottom: 0;
    }

  }

}
div#single-post {
  font-family: $roboto;
}
div#single-post.max-width-nine-hundred {
  max-width: 900px;
}
div#single-post.max-width-one-thousand {
  max-width: 1000px;
}
div#single-post.no-sidebar article,
#page.archives-wrapper.no-sidebar article {
  float: none;
  width: 100%;
  margin-bottom: 0;
}
div#single-post.no-sidebar article.main-content,
#page.archives-wrapper.no-sidebar article.main-content {
  padding-left: 25px;
  padding-right: 25px;
}
.single-featured-image {
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }

}
nav#nav-single {
  margin: 40px auto 0;
  padding: 20px 5px;
  border-top: 1px solid #a72535;
}
.nav-single-inner {
  display: inline-block;
  width: 100%;

  span.nav-previous,
  span.nav-next {
    width: 50%;
    float: left;
    display: inline-block;
    min-height: 1px;
  }
  span.nav-next {
    text-align: right;
  }

}
.about-the-author-wrap {
  margin: 35px 0 0 0;
  padding: 35px 10px 0 10px;
  border-top: 1px solid $black;

  .author-image {
    width: 80px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: middle;
  }
  .author-description {
    display: table-cell;
    vertical-align: middle;
    font-weight: 400 !important;
    font-size: .95rem;
    font-style: italic;
  }
  .author-image img {
    border-radius: 100%;
    margin-top: -20px;
  }
}

/* 4h. 404 Page Styles and Archive Styles */
div#four-o-four-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;

  .entry-content {
    font-family: $roboto;
  }

}
div#page.archives-wrapper {
  margin-top: 0;

  .entry-content, header {
    font-family: $roboto;
  }

}

/* 4i. Social Sharing Styles */
.bs-social-share-container {
  display: block;

  .bs-social-share-inner {
    width: 100%;
    max-width: 600px;
    margin: 5px auto;
    text-align: center;
    display: table;
  }
  .single-social-share {
    float: left;
    width: 18%;
    margin: 0 1%;
    border-radius: 3px;
  }
  .single-social-share a {
    line-height: 32px;
    color: $white !important;
    display: inline-block;
    text-align: left;
    width: calc(100% - 40px);
    padding: 4px 0;
    box-sizing: border-box;
  }
  .single-social-share span {
    color: $white;
  }
  .single-social-share.social-share-twitter {
    background: #55acee;
  }
  .single-social-share.social-share-facebook {
    background: #3b5998;
  }
  .single-social-share.social-share-google {
    background: #dd4b39;
  }
  .single-social-share.social-share-linkedin {
    background: #007bb5;
  }
  .single-social-share.social-share-pinterest {
    background: #cb2027;
  }

}

/* 4j. WP Gallery Styles */
.gallery-columns-2 {

  figure {
    margin: 0;
    padding: 0 20px 20px 0;
    width: 50%;
    float: left;
  }
  figure img {
    width: 100%;
    height: auto;
    border: 1px solid $ltgray;
  }

}


/**** 5. PORTFOLIO PAGE STYLES ****/
div#projects-list {
  width: 100%;
  height: 90%;
  background: #FFF;
  display: block;
  position: fixed;
  overflow: auto;
  top: 0;
  padding-top: 114px;
  border-bottom: 20px solid #FFF;
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  box-sizing: border-box;
}
div#projects-list.show-filters {
  transform: translateY(0%);
  opacity: 1;
  z-index: 99;
}
.projects-list-wrapper {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
  position: relative;

  .nothing-to-show p {
    position: absolute;
  }

  .close-project-filters {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px;
    background: none;
    @include transition(all);
  }
  .close-project-filters a {
    font-family: $raleway;
  }
  .close-project-filters:hover,
  .close-project-filters:focus {
    background: #FF0000;
  }

}

span.x-alt-close {
  display: none;
}
@supports(display: flex) {
  span.x-close {
    display: none;
  }
  span.x-alt-close {
    display: block;
    width: 30px;
    height: 30px;
  }
  span.x-alt-close:before,
  span.x-alt-close:after {
    content: '';
    width: 38px;
    height: 2px;
    background: #222;
    display: block;
  }
  span.x-alt-close:before {
    transform: rotate(45deg);
    top: 19px;
    left: 1px;
    position: absolute;
  }
  span.x-alt-close:after {
    transform: rotate(-45deg);
    top: 19px;
    left: 1px;
    position: absolute;
  }
}
.close-project-filters:hover span,
.close-project-filters:focus span {
  color: $white;
}
.close-project-filters:hover span:before,
.close-project-filters:hover span:after,
.close-project-filters:focus span:before,
.close-project-filters:focus span:after {
  background: $white;
}
.projects-list-filters {
  width: 21.48%;
  height: 100%;
  overflow: auto;
  padding-right: 40px;
  position: absolute;
  z-index: 99;
}
.projects-list-scroll-wrapper {
  overflow: hidden;
  height: 100%;
}
.projects-list-inner {
  display: block;
  width: 100%;
  height: 100% !important;
  padding-left: 21.48%;
  overflow: auto;
}
.project-list-filter,
.projects-list-filters {
  margin-top: 4px;
  margin-bottom:  30px;

  h3 {
    font-size: 1rem;
    font-family: $robotocon;
    font-weight: 400 !important;
    text-transform: uppercase;
    margin: 0;
  }
  .option-set.filter input {
    position: absolute;
    left: -9999px;
  }
  .option-set.filter label {
    cursor: pointer;
    font-size: .9rem;
    font-family: $robotocon;
    text-transform: uppercase;
    margin: 0;
  }
  .option-set.filter label span {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 2px;
    line-height: 1;
    font-weight: 700 !important;
    @include transition(all);
  }
  .option-set.filter input:checked + label span {
    background: $teal;
  }

}
.search-filter {
  position: relative;

  label {
    font-family: $robotocon;
    ;text-transform: uppercase;
  }
  button.clear-search {
    opacity: 0;
    position: absolute;
    bottom: 12px;
    right: 5px;
    -webkit-transition: opacity .2s ease-out;
  }
  button.clear-search.show {
    opacity: 1;
  }
  input#search {
    padding-right: 20px;
    margin-bottom: 25px;
  }
  input#search::-webkit-input-placeholder {
    font-family: $robotocon;
    color: #BBB;
  }
  input#search:-moz-placeholder {
    font-family: $robotocon;
    color: #BBB;
  }
  input#search::-moz-placeholder {
    font-family: $robotocon;
    color: #BBB;
  }
  input#search:-ms-input-placeholder {
    font-family: $robotocon;
    color: #BBB;
  }

}
#sorts {
  margin-bottom: 30px;

  h3 {
    margin-bottom: 2px;
  }
  button.button {
    display: inline-block;
    padding: 4px 6px;
    margin: 3px 0 0 0;
    line-height: 1;
    cursor: pointer;
    font-size: .9rem;
    font-family: "roboto-condensed", "Helvetica Neue", "Arial Narrow", Helvetica, Arial;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: $black;
    background: $white;
    @include transition(all);
  }
  button.button.active {
    background: $teal;
  }

}
button.reset-all-filters {
  padding: 6px 10px;
  font-weight: 700;
  margin: 3px 0 0 0;
  line-height: 1;
  cursor: pointer;
  font-size: .9rem;
  font-family: "roboto-condensed", "Helvetica Neue", "Arial Narrow", Helvetica, Arial;
  text-transform: uppercase;
  color: $black;
  background: $teal;
  @include transition(all);
}
button.reset-all-filters:hover,
button.reset-all-filters:focus {
  background: #e6e6e6;
}
.single-project {
  margin-bottom: 40px;
  display: block;

  .single-project-left {
    width: 75%;
    padding-right: 20px;
    float: left;
  }
  .single-project-right {
    width: 25%;
    float: right;
  }
  h2 {
    font-size: 2rem;
    font-family: $raleway;
    font-weight: 700;
  }

  .impact-list ul {
    list-style: none;
    margin: 0;
    text-align: left;
    display: inline-block;
    width: 100%;

    li {
      display: inline-block;
      padding: 4px 6px;
      margin-right: 6px;
      line-height: 1;
      background: $ltgray;
      font-family: $robotocon;
      font-size: .9rem;
      font-weight: 700;
      text-transform: uppercase;
    }

  }
  .category-list span,
  .status-list span,
  .category-list strong,
  .status-list strong {
    font-family: $robotocon;
    font-size: .9rem;
    text-transform: uppercase;
  }
  .category-list span:after,
  .status-list span:after {
    content: ',';
  }
  .category-list span:last-of-type:after,
  .status-list span:last-of-type:after {
    content: '';
  }

  .project-teaser {
    margin: 10px 0;
    font-family: $roboto;
  }

}
@media #{$break1200} {

}
@media #{$break1024} {

}
@media #{$break767} {

}
@media #{$break600} {

}
@media #{$break480} {

}

/* 5a. Single Portfolio Page Styles */


/**** 6. FOOTER STYLES ****/
#footer-container {
  background: #e9e9e9;
  background: rgba(230,230,230,.3);
}
#footer-container #footer {
  max-width: 100rem;
}
#footer {

  .menu > li {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
  }
  .menu > li a {
    margin: 0 !important;
    padding: 0 0 5px 0 !important;
    font-weight: 700 !important;
    text-transform: uppercase;
  }
  .menu .active > a {
    color: #a72535;
    background: none;
    font-weight: 900 !important;
  }
  .footer-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px 0 20px;
  }
  .large-3.widget {
    width: 20%;
  }
  .large-3.widget:first-of-type {
    width: 40%;
  }
  .large-3.widget p,
  .large-3.widget li,
  .large-3.widget a,
  .large-3.widget span {
    font-family: $roboto;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.4;
    padding: 0;
  }
  .large-3.widget a.bs-btn {
    font-size: 18px;
    line-height: 1;
    padding: 8px 20px;
  }
  .widget h6 {
    font-weight: 900;
    font-size: 1em;
  }
  ul.social-media-wrapper li {
    margin-right: 0 !important;
  }
  ul.social-media-wrapper li a {
    line-height: 30px !important;
  }
}
@media only screen and (max-width: 101.875rem) {
  #footer-container #footer {
    padding-left: .9375rem;
    padding-right: .9375rem;
  }
}
@media #{$break767} {
  #footer .large-3.widget {
    width: 33.3333%;
  }
  #footer .large-3.widget:first-of-type {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media #{$break480} {
  #footer .large-3.widget,
  #footer .large-3.widget:first-of-type {
    width: 100%;
    margin-bottom: 40px;
  }
}

#copyright {
  max-width: 1600px;

  p {
    font-weight: 300 !important;
    text-align: center;
  }

}


/**** 7. MOBILE & KEYBOARD INPUT STYLES ****/
.mobile {

  .what-we-do-wrapper {
    background-attachment: scroll !important;
  }
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  ul.filter-portfolio-category li span.term-num,
  ul.filter-portfolio-category li a.active+span.term-num,
  ul.filter-portfolio-category li:hover span.term-num,
  ul.filter-portfolio-category li a:before,
  ul.filter-portfolio-category li a:after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

}

body[data-whatinput="keyboard"] {

  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }

}

 .no-js {
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }
 }


/**** 8. IE ONLY STYLES ****/
/* IE 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  * {
    background-attachment: scroll !important;
  }
  .browsers-other-11 #featured-hero,
  .browsers-windows-other #featured-hero {
    background-image: url('https://uptownstudios.net/wp-content/uploads/2016/08/tie-fighter-wing02.png') !important;
    background-color: #a8c9e9 !important;
    background-size: 290px !important;
  }
}

/* Edge only */
@supports (-ms-accelerator: true) {
  * {
    background-attachment: scroll !important;
  }
}


/**** 9. FIREFOX ONLY CSS ****/
@-moz-document url-prefix() {

}

/**** 00. No JavaScript Styles ****/
.no-js {

  // div#preloader {
  //   display: none;
  // }
  img.lazyload {
    display: none;
  }
  .bs-isotope-item {
    float: left;
  }
  .bs-isotope-item:nth-child(3n+1) {
    clear: left;
  }
  p, a, li, span, h1, h2, h3, h4, h5, h6, blockquote {
    font-family: Arial, Helvetica, sans-serif !important;
  }

}
