$roboto: 'roboto', Helvetica, Arial, sans-serif;
$robotocon: 'roboto-condensed', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial;
$raleway: 'Raleway', Helvetica, Arial, sans-serif;
$teal: #00FFFF;
$white: #FFFFFF;
$black: #000000;
$blackalpha: rgba(0,0,0,.8);
$ltgray: #e6e6e6;

$break1600: "only screen and (max-width: 100em)";
$break1200: "only screen and (max-width: 75em)";
$break1024: "only screen and (max-width: 64em)";
$break1024to640: "only screen and (max-width: 64em) and (min-width: 40em)";
$break951: "only screen and (max-width: 59.4375em)";
$break951to601: "only screen and (max-width: 59.4375em) and (min-width: 37.5625em)";
$break800: "only screen and (max-width: 50em)";
$break782: "only screen and (max-width: 48.87em)";
$break767: "only screen and (max-width: 47.9375em)";
$break640: "only screen and (max-width: 40em)";
$break639: "only screen and (max-width: 39.9375em)";
$break600: "only screen and (max-width: 37.5em)";
$break480: "only screen and (max-width: 30em)";
$break375: "only screen and (max-width: 23.4375em)";

@mixin transition($attr) {
  -webkit-transition: $attr .2s ease-out;
     -moz-transition: $attr .2s ease-out;
      -ms-transition: $attr .2s ease-out;
          transition: $attr .2s ease-out;
}

/**** TABLE OF CONTENTS ****

1. GENERAL STYLES

2. HEADER STYLES
  2a. Top Bar and Main Nav Styles
  2b. Reverse Header Styles
  2c. Shrink Logo Styles

3. HOME PAGE STYLES

4. INTERNAL PAGE STYLES
  4a. Title Bar Styles
  4b. Gravity Forms Styles
  4c. Social Sharing Styles

5. PORTFOLIO STYLES

6. FOOTER STYLES

7. MOBILE STYLES (when WP detects a mobile device a class of 'mobile' is added to the body tag and we use this to style accordingly)

8. IE ONLY STYLES

00. No JavaScript Styles

** END TABLE OF CONTENTS **/


/**** 1. GENERAL STYLES ****/
#preloader img {
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin-bar #preloader img {
  margin-top: 16px;
}
@media only screen and (max-width: 782px) {
  .admin-bar #preloader img {
    margin-top: 23px;
  }
}
@media only screen and (max-width: 630px) {
  #preloader img {
    padding: 40px;
  }
}
a {
  color: $black;
  font-weight: 700;
  font-family: $roboto;
}
a:hover, a:focus {
  color: $black;
}
p {
  font-weight: 300;
  font-family: $roboto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  text-transform: uppercase;
  font-weight: 700;
  color: $black;
  line-height: 1.1;
}
h2, h3 {
  color: $black;
}
h3, h4 {
  text-transform: capitalize;
}
h2 span.sub-title {
  display: block;
  font-size: 65%;
  margin: 10px 0;
}
.subtle-image-border img,
img.subtle-image-border {
  border: 1px solid $ltgray !important;
}
.hide-for-now {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  speak: none;
  left: -9999px;
}
.the-tags {
  display: inline-block;
  width: 100%;
  margin: 40px 0;
  text-align: left;

  a {
    display: inline-block;
    margin-bottom: 5px;
  }

}
body.modal-active {
  overflow: hidden;
}
.bs-btn {
  padding: 6px 10px;
  font-weight: 700;
  margin: 3px 0 0 0;
  line-height: 1;
  cursor: pointer;
  font-size: .9rem;
  font-family: "roboto-condensed", "Helvetica Neue", "Arial Narrow", Helvetica, Arial;
  text-transform: uppercase;
  color: #000000;
  background: #00FFFF;
  transition: all 0.2s ease-out;
  @include transition(all);
}
.bs-btn:hover,
.bs-btn:focus {
  background: $ltgray;
}
.bs-btns-wrapper {
  text-align: left;
  width: 100%;

  .bs-btn {
    display: inline-block;
    margin: 0 10px 10px 0 ;
  }

}
.bs-isotope-wrapper {
  max-width: 1170px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.bs-isotope-item {

  img.lazyload,
  img.lazyloading {
    opacity: 0;
    min-height: 100px;
    @include transition(opacity);
  }
  img.lazyloaded {
    opacity: 1;
    @include transition(opacity);
  }

}
html .margin-bottom-60 {
  margin-bottom: 60px !important;
}
html .margin-bottom-6per {
  margin-bottom: 6% !important;
}
.max-width-eleven-seventy {
  max-width: 1170px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-sixteen-hundred {
  max-width: 1600px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.entry-content {
  overflow: hidden;

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
  h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: 1rem;
  }
  ul.row {
    margin-left: 1.25rem;
  }
  ul.row li.columns {
    padding-left: 0;
  }
  ul.row .column:last-child:not(:first-child),
  ul.row .columns:last-child:not(:first-child),
  ol.row .column:last-child:not(:first-child),
  ol.row .columns:last-child:not(:first-child) {
    float: left;
  }

}
.section-title {
  margin-top: -55px;

  img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .wpb_single_image {
    margin: 0 0 -125px 0;
    position: relative;
    z-index: 99
  }
  .vc_column-inner {
    padding: 0 !important;
  }
}
ul.social-media-wrapper.left {
  text-align: left;
}
ul.social-media-wrapper.right {
  text-align: right;
}
ul.social-media-wrapper.center {
  text-align: center;
}
ul.social-media-wrapper.brown li a {
  color: #38322f;
}
ul.social-media-wrapper.white li a {
  color: $white;
}
ul.social-media-wrapper li a {
  line-height: 30px !important;
}
.readable-line-length {
  max-width: 800px;
  margin: 0 auto;
}
.text-align-center, .text-align-center * {
  text-align: center;
}
.readable-line-length.text-align-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
}
.cta-text.has-background-image {
  background: rgba(27,27,27,.65);
  padding: 20px;
}
.cta-text.has-background-image p {
  font-size: 1.5rem;
  color: $white;
}
.cta-text p {
  font-size: 1.5rem;
  color: $black;
}
.cta-text * {
  $blackily: 'museo-sans';
  line-height: 1.4;
}
#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100;
}
#back-top a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: $blackalpha;
  color: $white;
  display: inline-block;
  @include transition(background);
}
#back-top a:hover,
#back-top a:focus {
  background: $black;
}
.fourohfour-recent-posts ul {
  margin: 0;
  list-style: none;
}
.fourohfour-recent-posts ul li {
  line-height: 1.2;
  margin-bottom: 1rem;
}
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@media #{$break600} {
  .bs-isotope-item {
  	width: 100% !important;
  	height: auto !important;
	}
  .bs-btns-wrapper .bs-btn {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
  }
}


/**** 2. HEADER STYLES ****/
header#masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(18,18,18,0);
  transition: all 500ms ease-out;
}
.title-bar-title {
  width: calc(100% - 40px);
  text-align: left;

  a.custom-logo-link img {
    width: auto;
    height: 80px !important;
  }
}

/* 2a. Top Bar and Main Nav Styles */
.top-bar {
display: table;
width: 100%;
//max-width: 100rem;
max-width: 1170px;
margin: 0 auto;
background: none;
  ul {
    background: none;
  }

  .top-bar-left {
    display: table-cell;
    float: none;
    width: 25%;
    vertical-align: middle;
  }
  .top-bar-middle {
    display: table-cell;
    float: none;
    width: 50%;
    vertical-align: middle;
    text-align: center;

      li.home {
        width: 100%;
        text-align: center;
        display: block;
      }
      a.custom-logo-link {
        display: block;
        height: auto;
        background: none !important;
      }
      a.custom-logo-link img {
        width: 200px;
        height: auto;
        margin-right: 0 !important;
        transition: width 500ms ease-out;
        opacity: 0;
        @include transition(opacity);
      }

    }

  .top-bar-left {

    ul.project-filters {
      margin: 0;
      list-style: none;

      .projects {
        float: none;
        display: inline-block;
        list-style: none;
        height: 82px !important;
      }
      .projects a {
        position: relative;
        display: block;
        height: 82px !important;
        padding: 0 10px 0 35px !important;
        font: 700 1.5rem/82px $robotocon;
        text-transform: uppercase;
        box-sizing: content-box !important;
        color: $white;
      }
      .projects a:before {
        content: '+';
        position: absolute;
        top: 0;
        left: 10px;
        text-align: left;
        display: block;
        width: 20px;
        height: 77px;
        line-height: 77px;
        color: $white;
        font-size: 30px;
        text-align: right;
      }
      .projects a:after {
        content: '';
        width: 0;
        height: 3px;
        background: #FFF;
        position: absolute;
        left: 30px;
        bottom: 20px !important;
        top: auto;
        @include transition(all);
      }
      .projects a:hover:after {
        width: calc(100% - 40px);
      }

    }

  }
  .top-bar-right {
    display: table-cell;
    float: none;
    width: 25%;
    text-align: right;
    vertical-align: bottom;

    .menu {
      text-align: right;
    }
    .menu > li {
      float: none;
      display: inline-block;
    }
    .menu > li > a {
      height: 82px;
      padding: 0 10px !important;
      font: 700 1.5rem/82px $robotocon;
      text-transform: uppercase;
      box-sizing: content-box !important;
    }
    .menu > li.menu-item-has-children > a {
      position: relative;
      padding-left: 20px !important;
      padding-right: 10px !important;
    }
    .menu > li.menu-item-has-children > a:before {
      content: '+';
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      display: block;
      width: 20px;
      height: 77px;
      line-height: 77px;
      color: $white;
      font-size: 30px;
    }
    .menu .dropdown {
      display: block;
      visibility: hidden;
      opacity: 0;
      margin-top: 20px;
      margin-right: -10px;
      padding-right: 10px;
      z-index: -1;
      @include transition(all);
    }
    .menu > li.is-active .dropdown {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
      z-index: 1;
    }
    .menu > li.opens-left > .is-dropdown-submenu {
      left: auto;
      right: 10px;
      top: 100%;
    }
    .menu > li.is-dropdown-submenu-parent > a::after {
      display: none;
    }
    .menu > li:not(:last-child) {
      border-right: 0;
    }
    .menu a:hover:not(.button) {
      background: none;
    }
    .menu .active > a {
      background: none;
      color: $white;
    }
    .menu > li {
      position: relative;
    }
    .menu > li:after {
      content: '';
      width: 0;
      height: 3px;
      background: $white;
      display: block;
      position: absolute;
      left: 20px;
      bottom: 20px;
      transition: width 250ms ease-out;
    }
    .menu > li:hover:after {
      width: calc(100% - 30px);
      transition: width 250ms ease-out;
    }
    .menu .dropdown {
      min-width: 190px;
      background-color: rgba(18, 18, 18, 0);
    }
    .menu .dropdown li a {
      height: auto;
      line-height: 1;
      padding: 10px 0 !important;
      font-size: 1.25rem;
      font-weight: 400;
      position: relative;
      display: inline-block;
    }
    .menu .dropdown li {
      -webkit-transition: background 250ms ease-out;
    }
    // .menu .dropdown li:hover,
    // .menu .dropdown li:focus {
    //   background: #1b1b1b;
    // }
    .menu .dropdown li:hover a,
    .menu .dropdown li:focus a {
      color: $white !important;
    }
    .menu .dropdown li a:hover:after {
      content: '';
    }
    .menu .dropdown li:after {
      display: none;
    }
    .menu .dropdown li a:after {
      content: '';
      width: 0;
      height: 2px;
      background: #FFF;
      position: absolute;
      right: 0;
      bottom: 5px !important;
      top: auto;
      @include transition(all);
    }
    .menu .dropdown li a:hover:after,
    .menu .dropdown li a:focus:after {
      width: 100%;
    }
    // .menu .dropdown li a.active:after {
    //   width: 100%;
    // }
  }
}

@media #{$break1024} {
  .top-bar .top-bar-left ul.project-filters .projects,
  .top-bar .top-bar-right .menu > li > a {
    height: 50px !important;
  }
  html .top-bar .top-bar-left ul.project-filters .projects a, html .top-bar .top-bar-right .menu > li > a {
    height: 50px !important;
    line-height: 50px;
    padding-top: 0 !important;
  }
  .top-bar .top-bar-left ul.project-filters .projects a:after,
  .top-bar .top-bar-right .menu > li:after {
    bottom: 6px !important;
  }
  .menu > li.menu-item-has-children > a:before,
  .top-bar .top-bar-left ul.project-filters .projects a:before {
    line-height: 50px !important;
    height: 50px !important;
  }
  html .top-bar .top-bar-right .menu .menu > li > a {
    height: auto !important;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 50em) and (min-width: 45.0625em) {
  .top-bar .top-bar-right .menu > li > a {
    padding: 10px 3.5px 0 3.5px !important;
    font-size: 1.75em;
  }
}
@media only screen and (max-width: 45em) and (min-width: 40em) {
  .top-bar .top-bar-right .menu > li > a {
    padding: 10px 7px 0 0 !important;
    font-size: 1.5em;
  }
}
@media #{$break800} {
  // .top-bar .top-bar-right .menu > li.menu-item-has-children > a:before {
  //   line-height: 97px;
  // }
}
@media #{$break639} {
  .off-canvas-wrapper-inner {
    will-change: transform;
  }
  .top-bar .top-bar-left ul.project-filters .projects a,
  .top-bar .top-bar-right .menu > li > a {
    font: 700 1rem/82px $robotocon;
  }
  .top-bar .top-bar-left ul.project-filters .projects a:before,
  .top-bar .top-bar-right .menu > li.menu-item-has-children > a:before {
    font-size: 1rem;
    text-align: center;
  }
  .top-bar .top-bar-right .menu > li.menu-item-has-children ul li a {
    font-size: 1rem;
  }
}

/* 2b. Reverse Header Styles and Filters Open Styles*/
body.filters-open {
  overflow: hidden;

  .top-bar .top-bar-left ul.project-filters .projects a:after {
    width: calc(100% - 40px);
    background: $black;
  }
  header#masthead {
    background: rgba(255,255,255,.95);
  }
  .top-bar .top-bar-right .menu .dropdown {
    background: rgba(255,255,255,.95);
  }
}
header#masthead.reverse-header .top-bar .top-bar-left ul.project-filters .projects a:after {
  background: $black !important;
}
header#masthead.reverse-header,
body.filters-open,
body.not-home header#masthead {
  background: rgba(255,255,255,.95) !important;

  a.custom-logo-link img {
    opacity: 1;
  }
  .top-bar .menu a,
  .top-bar .top-bar-left ul.project-filters .projects a {
    color: $black !important;
  }
  .menu > li.menu-item-has-children > a:before,
  .top-bar .top-bar-left ul.project-filters .projects a:before {
    color: $black !important;
  }
  .top-bar .top-bar-right .menu .dropdown li a:hover,
  .top-bar .top-bar-right .menu .dropdown li a:focus {
    color: $black !important;
  }
  .top-bar .top-bar-right .menu > li:after,
  .top-bar .top-bar-right .menu .dropdown li a:after {
    background: $black !important;
  }
  .menu-icon::after,
  .menu-icon:hover:after {
    background: #222;
    box-shadow: 0 7px 0 #222, 0 14px 0 #222;
  }
  .top-bar-social ul li a {
    color: #222;
  }
  // .top-bar .top-bar-right .menu .dropdown {
  //   background-color: rgba(255, 255, 255, 0.95);
  //   box-shadow: 0 9px 10px 4px rgba(0, 0, 0, 0.2);
  // }
}

/* 2c. Shrink Logo Styles */
body.shrink-logo {
  .top-bar .top-bar-left a.custom-logo-link img {
    width: 150px;
    height: auto;
    transition: width 500ms ease-out;
  }
}


/**** 3. HOME PAGE STYLES ****/
.admin-bar header#masthead {
  top: 32px;
}
.home {

  div#page-full-width {
    margin-top: 0;

    .main-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

  }

}
body:not(.mobile) .home-hero-wrapper {
  background-position: bottom center !important;
}
body.mobile .home-hero-wrapper {
  background-size: 110% !important;
}
.home-logo img {
  width: 600px;
  max-width: 100%;
  height: auto;
  padding: 25px;
}
.down-arrow-wrapper {
  transform: translateY(-100%);

  * {
    padding: 0 !important;
    margin: 0 !important;
  }
  .down-arrow img {
    width: 60px;
    height: auto;
    margin: 20px 0 !important;
  }

}
.darken-header header#masthead {
  background: rgba(0,0,0,.35);
}
.darken-header .top-bar .top-bar-right .menu > li.opens-left > .is-dropdown-submenu {
  background: rgba(0,0,0,.35) !important;
}
.darken-header .reverse-header .top-bar .top-bar-right .menu > li.opens-left > .is-dropdown-submenu,
.reverse-header .top-bar .top-bar-right .menu > li.opens-left > .is-dropdown-submenu {
  background: rgba(255,255,255,.95) !important;
}

@media #{$break1024} {
  .title-bar {
    background: none !important;
  }
  .vc_parallax-inner {
    top: 0 !important;
    height: 100% !important;
  }
}
@media only screen and (max-width: 48.875em) {
  .admin-bar header#masthead {
    top: 46px;
  }
}
@media #{$break640} {
  header#masthead {
    top: 0 !important;
  }
  nav#site-navigation {
    display: table !important;
  }
  .title-bar {
    display: none !important;
  }
  .desktop-menu {
    display: block;
  }
  .top-bar .top-bar-left {
    display: table-cell !important;
  }
  .admin-bar header#masthead {
    top: 46px !important;
  }
  .top-bar .top-bar-right {
    ul#menu-main-navigation {
      display: block !important;
    }
    nav#mobile-menu {
      display: none !important;
    }
    // .menu > li.menu-item-has-children > a:before {
    //   line-height: 77px !important;
    // }
    .menu > li.menu-item-has-children > a:after {
      display: none;
    }
  }
}

  /* 3a. Home Section Styles */
  .mission-statement {
    width: 100%;
    padding-left: 25%;
    max-width: 1170px;
    margin: 0 auto;

    h2 {
      font-size: 5rem;
      border-left: 25px solid #FFF;
      padding-left: 25px;
      position: relative;
    }
    h2:before {
      content: '';
      width: 25px;
      height: 100%;
      background: $teal;
      display: block;
      position: absolute;
      left: -25px;
    }
    p {
      font-family: $robotocon;
      font-size: 1.5rem;
      padding-left: 53px;
      text-transform: uppercase;
      font-weight: 700;
    }

  }
  .hcd-graphic .vc_single_image-wrapper,
  .what-we-do-image .vc_single_image-wrapper,
  .locations-image .vc_single_image-wrapper {
    width: 100%;
  }
  .hcd-graphic figure,
  .what-we-do-image figure,
  .locations-image figure {
    width: 100%;
  }
  .hcd-graphic img {
    width: 100%;
    max-width: 1200px !important;
  }
  .what-we-do-image img,
  .locations-image img {
    width: 100%;
    max-width: 550px !important;
  }
  .section-heading {
    text-align: center;
    margin: 0 auto 70px !important;
    max-width: 1024px;

  }
  .section-heading p {
    font-size: 1.5rem !important;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $robotocon;
    margin: 0;
  }
  .section-heading h2 {
    font-size: 4rem;
    font-family: $raleway;
    font-weight: 900;
  }
  .home-sections .vc_row {
    max-width: 1024px;
    margin: 0 auto;
  }
  .home-sections h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: $robotocon;
  }
  .home-sections p {
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .home-sections ul {
    list-style: none;
    margin: 0;
  }
  .home-sections ul li {
    margin-bottom: 34px;
  }
  .home-sections ul li:last-child {
    margin-bottom: 0;
  }
  blockquote {
    padding: 0;
    border-left: 0;
  }
  blockquote p {
    font-family: $raleway;
    font-style: italic;
    font-weight: 900;
    color: #000;
    padding: 0 !important;
  }
  cite {
    font-size: 1rem;
    font-style: normal;
    color: #000;
    font-family: $roboto;
  }
  .logos-row {
    display: table;
    width: 100%;
  }
  .logos-row .logo-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .logos-row .logo-cell img {
    max-height: 197px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    filter: grayscale(80%);
    @include transition(all);
  }
  .logos-row .logo-cell img:hover,
  .logos-row .logo-cell img:focus {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
  }
  .logos-row.row-of-three .logo-cell {
    width: 25%;
  }
  .logos-row.row-of-three .logo-cell:nth-child(2) {
    width: 50%;
  }
  .logos-row.row-of-two .logo-cell {
    width: 50%;
  }
  .logos-row.row-of-two .logo-cell img {
    max-height: 150px;
  }
  @media #{$break1024to640} {
    .mission-statement h2 {
      font-size: 3.75rem;
    }
    .section-heading h2 {
      font-size: 3rem;
    }
  }
  @media #{$break639} {
    .mission-statement h2 {
      font-size: 2.75rem;
    }
    .section-heading h2 {
      font-size: 2rem;
    }
    .logos-row.row-of-three .logo-cell,
    .logos-row.row-of-two .logo-cell {
      width: 100% !important;
      display: block;
    }
    .logos-row.row-of-two .logo-cell img,
    .logos-row.row-of-three .logo-cell img {
      max-height: 180px !important;
    }
  }
  @media #{$break480} {
    .mission-statement {
      padding-left: 0;
    }
  }



/**** 4. INTERNAL PAGE STYLES ****/
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  width: 1024px !important;

}
#swipebox-slider .slide {
  padding: 0 20px !important;
}
#swipebox-title {
  text-align: left !important;
  font-family: $robotocon !important;
  text-transform: uppercase !important;
}
#swipebox-top-bar {
  top: 0 !important;
  max-width: 1060px;
  padding: 0 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  position: relative;
}
#swipebox-logo {
  width: 167px;
  height: 19px;
  background-image: url(http://127.0.0.1/vsp/wp-content/themes/theshop/assets/img/logo-hor-gray.svg);
  background-size: 100%;
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
}
#swipebox-slider .slide img {
  vertical-align: top !important;
  margin-top: 80px !important;
}
#swipebox-close {
  right: 50% !important;
  transform: translateX(50%);
  width: 100% !important;
  max-width: 1060px !important;
  margin-top: 10px !important;
  margin-right: 20px;
  background-position: top right !important;
  background-image: url(http://127.0.0.1/vsp/wp-content/themes/theshop/assets/img/close.svg) !important;
  background-size: 24px !important;
}
#swipebox-prev, #swipebox-next {
  width: 15px !important;
  height: 30px !important;
  background-position: 0 0 !important;
  opacity: 1 !important;
}
#swipebox-bottom-bar {
  bottom: 0 !important;
  opacity: 1 !important;
}
#swipebox-title {
  max-width: calc(50% - 100px) !important;
}
#swipebox-bottom-bar.visible-bars {
  transform: none !important;
}
#swipebox-arrows {
  width: 100% !important;
  max-width: 1060px !important;
  padding: 0 20px !important;
}
#swipebox-prev {
  background-image: url(http://127.0.0.1/vsp/wp-content/themes/theshop/assets/img/swipebox-prev.svg) !important;
  background-size: 15px 30px !important;
}
#swipebox-next {
  background-image: url(http://127.0.0.1/vsp/wp-content/themes/theshop/assets/img/swipebox-next.svg) !important;
  background-size: 15px 30px !important;
}
div#page-full-width {
  margin-top: 0;
  max-width: none;

  .main-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* 4a. 404 Page Styles and Archive Styles */
div#four-o-four-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;

  .entry-content {
    font-family: $roboto;
  }

}
div#page.archives-wrapper {
  margin-top: 0;

  .entry-content, header {
    font-family: $roboto;
  }

}

/* 4b. WP Gallery Styles */
.gallery-columns-2 {

  figure {
    margin: 0;
    padding: 0 20px 20px 0;
    width: 50%;
    float: left;
  }
  figure img {
    width: 100%;
    height: auto;
    border: 1px solid $ltgray;
  }

}


/**** 5. PORTFOLIO PAGE STYLES ****/
.top-bar-right {
  transition: all .4s ease-out;
}
.filters-open .top-bar-right {
  transform: translateY(-100%);
}
.filters-open header#masthead.reverse-header,
body.not-home.filters-open header#masthead {
  background: $white !important;
}
// .admin-bar div#projects-list {
//     margin-top: 46px;
// }
div#projects-list {
  width: 100%;
  height: calc(90% - 114px);
  background: #FFF;
  display: block;
  position: fixed;
  overflow: auto;
  top: 114px;
  padding-top: 0;
  border-bottom: 20px solid #FFF;
  transform: translateY(-100%);
  opacity: 0;
  box-shadow: 0 7px 5px -4px #666;
  transition: all .5s ease-out;
  box-sizing: border-box;
}
div#projects-list.show-filters {
  transform: translateY(0%);
  opacity: 1;
  z-index: 99;
}
.projects-list-wrapper {
  display: block;
  width: 100%;
  // max-width: 1024px;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
  position: relative;

  .nothing-to-show p {
    position: absolute;
  }

  // .close-project-filters {
  //   position: absolute;
  //   right: 10px;
  //   top: 10px;
  //   padding: 5px;
  //   background: none;
  //   @include transition(all);
  // }

}

.close-project-filters {
  z-index: 9999;
  position: fixed;
  width: 100%;
  max-width: 1170px;
  top: -100px;
  left: calc(50% - 10px);
  background: none;
  transform: translateX(-50%);
  transition: all .5s ease-out;

  a {
    font-family: $raleway;
    font-weight: 900;
    display: block;
    padding: 5px;
    z-index: 99;
    float: right;
    position: relative;
    @include transition(background);
  }
  a:hover,
  a:focus {
    background: #FF0000;
  }

  span.x-alt-close {
    display: none;
  }
  .close-project-filters a:hover span,
  .close-project-filters a:focus span {
    color: $white;
  }
  span.x-close {
    display: none;
  }
  span.x-alt-close {
    display: block;
    width: 30px;
    height: 30px;
  }
  span.x-alt-close:before,
  span.x-alt-close:after {
    content: '';
    width: 38px;
    height: 2px;
    background: #222;
    display: block;
  }
  span.x-alt-close:before {
    transform: rotate(45deg);
    top: 19px;
    left: 1px;
    position: absolute;
  }
  span.x-alt-close:after {
    transform: rotate(-45deg);
    top: 19px;
    left: 1px;
    position: absolute;
  }
  a:hover span.x-alt-close:before,
  a:hover span.x-alt-close:after,
  a:focus span.x-alt-close:before,
  a:focus span.x-alt-close:after {
    background: $white !important;
  }

}
.filters-open .close-project-filters {
  top: 31px;
}
.admin-bar.filters-open .close-project-filters {
  top: 53px;
}
@media #{$break782} {
  .admin-bar.filters-open .close-project-filters {
    top: 77px;
  }
}

.projects-list-filters {
  width: 21.48%;
  height: 100%;
  overflow: auto;
  padding-right: 40px;
  position: absolute;
  z-index: 99;
}
button.toggle-all-filters-btn {
  display: none;
  margin-bottom: 10px;
}
a.toggle-all-filters:before {
  content: 'Show';
  margin-right: 5px;
}
a.toggle-all-filters.active:before {
  content: 'Hide';
}
.projects-list-scroll-wrapper {
  overflow: hidden;
  height: 100%;
  padding: 5px 10px;
}
.projects-list-inner {
  display: block;
  width: 100%;
  height: 100% !important;
  padding-left: 21.48%;
  overflow: auto;
}
.project-list-filter,
.projects-list-filters {
  margin-top: 4px;
  margin-bottom:  30px;

  h3 {
    font-size: 1rem;
    font-family: $robotocon;
    font-weight: 400 !important;
    text-transform: uppercase;
    margin: 0;
  }
  .option-set.filter input {
    position: absolute;
    left: -9999px;
  }
  .option-set.filter label {
    cursor: pointer;
    font-size: .9rem;
    font-family: $robotocon;
    text-transform: uppercase;
    margin: 0;
  }
  .option-set.filter label span {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 2px;
    line-height: 1;
    font-weight: 700 !important;
    @include transition(all);
  }
  .option-set.filter input:checked + label span {
    background: $teal;
  }

}
.search-filter {
  position: relative;

  label {
    font-family: $robotocon;
    ;text-transform: uppercase;
  }
  button.clear-search {
    opacity: 0;
    position: absolute;
    bottom: 12px;
    right: 5px;
    -webkit-transition: opacity .2s ease-out;
  }
  button.clear-search.show {
    opacity: 1;
  }
  input#search {
    padding-right: 20px;
    margin-bottom: 25px;
  }
  input#search::-webkit-input-placeholder {
    font-family: $robotocon;
    color: #BBB;
    letter-spacing: -.03em;
  }
  input#search:-moz-placeholder {
    font-family: $robotocon;
    color: #BBB;
    letter-spacing: -.03em;
  }
  input#search::-moz-placeholder {
    font-family: $robotocon;
    color: #BBB;
    letter-spacing: -.03em;
  }
  input#search:-ms-input-placeholder {
    font-family: $robotocon;
    color: #BBB;
    letter-spacing: -.03em;
  }

}
#sorts {
  margin-bottom: 30px;

  h3 {
    margin-bottom: 2px;
  }
  button.button {
    display: inline-block;
    padding: 4px 6px;
    margin: 3px 0 0 0;
    line-height: 1;
    cursor: pointer;
    font-size: .9rem;
    font-family: "roboto-condensed", "Helvetica Neue", "Arial Narrow", Helvetica, Arial;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: $black;
    background: $white;
    @include transition(all);
  }
  button.button.active {
    background: $teal;
  }

}
button.reset-all-filters {
  padding: 6px 10px;
  font-weight: 700;
  margin: 3px 0 0 0;
  line-height: 1;
  cursor: pointer;
  font-size: .9rem;
  font-family: "roboto-condensed", "Helvetica Neue", "Arial Narrow", Helvetica, Arial;
  text-transform: uppercase;
  color: $black;
  background: $teal;
  @include transition(all);
}
button.reset-all-filters:hover,
button.reset-all-filters:focus {
  background: #e6e6e6;
}
.single-project {
  margin-bottom: 40px;
  display: block;

  .single-project-left {
    width: 75%;
    padding-right: 20px;
    float: left;
  }
  .single-project-right {
    width: 25%;
    float: right;
  }
  h2, a {
    font-size: 2rem;
    font-family: $raleway;
    font-weight: 900;
  }

  .impact-list ul {
    list-style: none;
    margin: 0;
    text-align: left;
    display: inline-block;
    width: 100%;

    li {
      display: inline-block;
      padding: 4px 6px;
      margin-right: 6px;
      line-height: 1;
      background: $ltgray;
      font-family: $robotocon;
      font-size: .9rem;
      font-weight: 700;
      text-transform: uppercase;
    }

  }
  .category-list span,
  .status-list span,
  .category-list strong,
  .status-list strong {
    font-family: $robotocon;
    font-size: .9rem;
    text-transform: uppercase;
  }
  .category-list span:after,
  .status-list span:after {
    content: ',';
  }
  .category-list span:last-of-type:after,
  .status-list span:last-of-type:after {
    content: '';
  }

  .project-teaser {
    margin: 10px 0;
    font-family: $roboto;
  }

}
@media #{$break1024} {
  div#projects-list {
    top: 86px;
    height: calc(90% - 86px);
  }
  .filters-open .close-project-filters {
    top: 17px;
  }
  .admin-bar.filters-open .close-project-filters {
    top: 39px;
  }
  .projects-list-wrapper {
    padding-top: 30px;
  }
  .mobile button.toggle-all-filters-btn,
  .mobile a.toggle-all-filters {
    display: block !important;
  }
  .mobile .projects-list-filters {
    display: none;
  }
}
@media #{$break951} {
  .projects-list-scroll-wrapper {
    overflow: visible;
  }
  .projects-list-filters {
    width: 100%;
    position: relative;
    height: auto;
    padding: 0 0 30px 0;
    border-bottom: 1px solid $black;
  }
  .projects-list-inner {
    padding-left: 0;
    overflow: visible;
  }
  .projects-list-wrapper .close-project-filters {
    top: 0;
  }
  div#sorts {
    width: 25%;
    float: left;
  }
  div#options {
    width: 75%;
    float: left;
  }
  .project-list-filter {
    width: 33.3333%;
    float: left;
    margin-top: 0;
  }
  .reset-filters {
    clear: both;
    float: right;
  }
}
@media #{$break782} {
  .admin-bar.filters-open .close-project-filters {
    top: 53px;
  }
  .filters-open .close-project-filters {
    top: 7px;
  }
}
@media #{$break639} {
  div#projects-list {
    // padding-top: 45px;
  }

}
@media #{$break600} {
  div#sorts {
    width: 100%;
    float: none;
  }
  div#options {
    width: 100%;
    float: none;
  }
  div#sorts br {
    display: none;
  }
  .reset-filters {
    clear: both;
    float: left;
  }
  .single-project .single-project-left {
    width: calc(100% - 150px);
  }
  .single-project .single-project-right {
    width: 150px;
  }
}
@media #{$break480} {
  .project-list-filter {
    width: 100%;
    float: none;
  }
  .single-project .single-project-left {
    width: 100%;
    padding-right: 0;
  }
  .single-project .single-project-right {
    float: left;
  }
}

/* 5a. Single Portfolio Page Styles */
.not-home .top-bar .top-bar-right .menu > li.opens-left > .is-dropdown-submenu {
  background: rgba(255,255,255,.95) !important;
}
.not-home header#masthead + section.container {
  margin-top: 82px;
}
.not-home div#single-post {
  margin-top: 0;
}
.not-home #single-post article.main-content {
  width: 100%;
  padding-top: 150px;
}
.portfolio-meta-info {
  width: 21.48%;
  padding-right: 35px;
  float: left;

  .portfolio-meta-chunk {
    margin-bottom: 36px;
  }
  .portfolio-meta-chunk h3 {
    font-family: $robotocon;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .portfolio-meta-chunk ul {
    margin: 0;
  }
  .portfolio-meta-chunk ul li,
  .portfolio-meta-chunk p {
    display: block;
    padding: 4px 6px 4px 0;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    font-size: .9rem;
    font-family: $robotocon;
    font-weight: 400 !important;
    text-transform: uppercase;
    color: $black;
    background: $white;
  }
  .portfolio-meta-chunk ul li a {
    font-weight: 400 !important;
    font-size: .9rem !important;
    font-family: $robotocon;
  }
  .portfolio-meta-chunk.areas-of-impact ul li {
    margin: 2px 0 3px 0;
    padding: 0;
    display: block;
  }
  .portfolio-meta-chunk.areas-of-impact ul li span {
    background: $teal;
    padding: 4px 6px;
    display: inline-block;
  }
  .portfolio-meta-chunk.project-successes ul li,
  .portfolio-meta-chunk.project-failures ul li {
    text-transform: initial;
    font-family: $roboto;
  }
  .portfolio-meta-chunk.project-successes ul li.tbd,
  .portfolio-meta-chunk.project-failures ul li.tbd {
    font-family: $robotocon;
  }

}
.single-portfolio {

  .portfolio-meta-info .portfolio-meta-chunk ul li,
  .portfolio-meta-info .portfolio-meta-chunk p {
    cursor: text;
  }

}
.portfolio-description {
  width: 78.52%;
  padding-left: 35px;
  float: left;

  span.pre-title {
    font-size: 1rem;
    display: block;
    font-weight: 400;
    margin-left: 5px;
    font-family: $robotocon;
  }
  h1.entry-title {
    font-family: $raleway;
    font-weight: 900;
    font-size: 4rem !important;
  }
  .portfolio-teaser p {
    font-size: 2rem;
    font-family: $raleway;
    font-weight: 900;
    line-height: 1.4;
    margin: 0;
  }
  .portfolio-gallery {
    margin: 20px 0 30px;
  }
  .slick-slide img {
    padding: 0 10px;
  }
  .bs-carousel {
    margin-left: -10px;
    position: relative;
  }
  button.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    opacity: 1;
    @include transition(opacity);
  }
  button.slick-prev {
    left: 20px;
  }
  button.slick-next {
    right: 20px;
  }
  button.slick-arrow.slick-disabled {
    opacity: 0;
    @include transition(opacity);
  }
  .portfolio-content h2 {
    font-family: $raleway;
    font-weight: 900;
  }

}

@media #{$break1024} {
  .not-home #single-post article.main-content {
    padding-top: 40px;
  }
  .portfolio-meta-info {
    padding-right: 0;
  }
}
@media #{$break767} {
  .portfolio-wrap {
    display: flex;
    flex-direction: column;
  }
  .portfolio-meta-info,
  .portfolio-description {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    float: none;
  }
  .portfolio-meta-info {
    order: 2;
  }
}
@media #{$break639} {
  .not-home #single-post article.main-content {
    padding-top: 20px;
  }
}


/**** 6. FOOTER STYLES ****/
#footer-container {
  background: $white;
}
#footer-container #footer {
  max-width: 100rem;
}
@media only screen and (max-width: 101.875rem) {
  #footer-container #footer {
    padding-left: .9375rem;
    padding-right: .9375rem;
  }
}
@media #{$break767} {

}
@media #{$break480} {

}

#copyright {
  max-width: 1170px;

  p {
    font-weight: 300 !important;
    text-align: center;
    font-family: $robotocon !important;
  }

}


/**** 7. MOBILE & KEYBOARD INPUT STYLES ****/
.mobile {

  .what-we-do-wrapper {
    background-attachment: scroll !important;
  }
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  ul.filter-portfolio-category li span.term-num,
  ul.filter-portfolio-category li a.active+span.term-num,
  ul.filter-portfolio-category li:hover span.term-num,
  ul.filter-portfolio-category li a:before,
  ul.filter-portfolio-category li a:after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

}

body[data-whatinput="keyboard"] {

  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }

}

 .no-js {
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }
 }


/**** 8. IE ONLY STYLES ****/
/* IE 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  * {
    background-attachment: scroll !important;
  }
  .browsers-other-11 #featured-hero,
  .browsers-windows-other #featured-hero {
    background-image: url('https://uptownstudios.net/wp-content/uploads/2016/08/tie-fighter-wing02.png') !important;
    background-color: #a8c9e9 !important;
    background-size: 290px !important;
  }
}

/* Edge only */
@supports (-ms-accelerator: true) {
  * {
    background-attachment: scroll !important;
  }
}


/**** 9. FIREFOX ONLY CSS ****/
@-moz-document url-prefix() {

}

/**** 00. No JavaScript Styles ****/
.no-js {

  // div#preloader {
  //   display: none;
  // }
  img.lazyload {
    display: none;
  }
  .bs-isotope-item {
    float: left;
  }
  .bs-isotope-item:nth-child(3n+1) {
    clear: left;
  }
  p, a, li, span, h1, h2, h3, h4, h5, h6, blockquote {
    font-family: Arial, Helvetica, sans-serif !important;
  }

}
